<template>
  <div class="card-dashed">
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <label>Data</label>
        <div>
          <date-picker
            :format="formatDate"
            :bootstrap-styling="true"
            input-class="form-control"
            v-model="buletin.data_interpretare"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Rezultatul examinării</label>
        <input class="form-control" type="text" v-model="buletin.rezultat" required />
      </div>
      <div class="col-12 mb-4">
        <label>Recomandări</label>
        <textarea class="form-control" type="text" v-model="buletin.recomandari" required></textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-primary mr-2" @click="proceed">Salveaza modificarile</button>
        <button class="btn btn-secondary" @click="print">Tipareste</button>
      </div>

      <div class="col-12">
        <Errors :errors="errors" v-if="errors" />
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vuejs-datepicker";
import "vue2-datepicker/index.css";

import moment from "moment";

import Errors from "../Errors";

import Header from "../Formular/Header";

export default {
  name: "BuletinInterpretare",
  props: ["pacient", "type", "radiografie"],
  components: { DatePicker, Errors, Header },
  data() {
    return {
      errors: false,
      doPrint: false,
      buletin: {
        data_interpretare: null,
        rezultat: null,
        recomandari: null
      }
    };
  },
  created() {
    this.getBuletin();
  },
  computed: {
    niceDate() {
      return moment(this.buletin.data_interpretare).format("DD.MM.YYYY");
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    getBuletin() {
      this.$http({
        url: `buletin/${this.type}/${this.radiografie.id}`,
        method: "GET"
      }).then(
        res => {
          if (res.data.buletin !== null) {
            this.buletin = res.data.buletin;
          }
        },
        () => {
          this.has_error = true;
        }
      );
    },
    print() {
      return this.$router.push({
        name: "buletin-interpretare",
        query: {
          buletin: this.buletin,
          pacient: this.pacient,
          niceDate: this.niceDate
        }
      });
    },
    proceed() {
      this.errors = false;
      this.$http({
        url: `buletin/store`,
        method: "POST",
        data: {
          ...this.buletin,
          pacient_id: this.pacient.id,
          radiografie_id: this.radiografie.id,
          type: this.type
        }
      }).then(
        res => {
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        err => {
          console.error(err.response);
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>