<template>
  <div class="card" v-if="pacient !== undefined">
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-12 mb-4">
          <h2 class="forms">1. Evaluarea accesului la serviciul de sănătate</h2>
        </div>
        <div class="col-12 col-md-6 mb-4">
          <label>Comuna / satul</label>
          <input
            class="form-control"
            type="text"
            v-model="pacient.informatii_generale.chestionar.comuna"
          />
        </div>
        <div class="col-12 col-md-6 mb-4">
          <label>Medic de familie? (Adresa, nume, telefon)</label>
          <input
            type="text"
            class="form-control"
            v-model="pacient.informatii_generale.chestionar.medic"
          />
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Există AMC/MS?</label>
          <select class="form-control" v-model="pacient.informatii_generale.chestionar.amc_ms">
            <option disabled value>Selectați o opțiune</option>
            <option value="da">DA</option>
            <option value="nu">NU</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Status marital?</label>
          <select
            class="form-control"
            v-model="pacient.informatii_generale.chestionar.status_marital"
          >
            <option disabled value>Selectați o opțiune</option>
            <option value="Casatorit / Concubinaj">Casatorit / Concubinaj</option>
            <option value="Singur">Singur</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Status asigurat</label>
          <select
            class="form-control"
            v-model="pacient.informatii_generale.chestionar.status_asigurat"
          >
            <option disabled value>Selectați o opțiune</option>
            <option value="da">DA</option>
            <option value="nu">NU</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Există la mai puțin de 50 de km un centru de servicii de sănătate?</label>
          <select
            class="form-control"
            v-model="pacient.informatii_generale.chestionar.centru_50_km"
          >
            <option disabled value>Selectați o opțiune</option>
            <option value="da">DA</option>
            <option value="nu">NU</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mb-4">
          <label>Ocupația</label>
          <input
            class="form-control"
            type="text"
            v-model="pacient.informatii_generale.chestionar.ocupatia"
          />
        </div>
        <div class="col-12 col-md-6 mb-4">
          <label>Locul de muncă</label>
          <input
            class="form-control"
            type="text"
            v-model="pacient.informatii_generale.chestionar.locul_de_munca"
          />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 mb-4">
          <h2 class="forms">2. Chestionar de colectare date medicale</h2>
        </div>
        <div class="col-12 col-md-4">
          <div class="d-flex align-items-center">
            <label class="mb-0">Cu câte persoane locuiți în aceeași casă?</label>
            <input
              class="form-control mx-4"
              type="text"
              v-model="pacient.informatii_generale.chestionar.colocatari"
              style="width: 60px;"
            />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="d-flex align-items-center">
            <label class="mb-0">Înălțime</label>
            <input
              class="form-control mx-4"
              type="text"
              v-model="pacient.informatii_generale.inaltime"
              style="width: 60px;"
            />
            m
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="d-flex align-items-center">
            <label class="mb-0">Greutate</label>
            <input
              class="form-control mx-4"
              type="text"
              v-model="pacient.informatii_generale.greutate"
              style="width: 60px;"
            />
            kg
          </div>
        </div>
        <div class="col-12">
          <hr class="grey-dotted" />
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>1. Ați avut vreodată tuberculoză?</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="aavt"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.aavt"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="aavt"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.aavt"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>2. Sunteți în prezent în tratament pentru tuberculoză?</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="sipitpt"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.sipitpt"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="sipitpt"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.sipitpt"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>3. Are sau a avut cineva din familie tuberculoză?</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="asaacdft"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.asaacdft"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="asaacdft"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.asaacdft"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>4. Are sau a avut cineva dintre cunoscuți tuberculoză?</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="asaacdct"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.asaacdct"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="asaacdct"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.asaacdct"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>5. Sunteți</label>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Fumător</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="s_f"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_f"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="s_f"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_f"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Consumator de alcool</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="s_cda"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_cda"
                value="uneori"
              /> Uneori
              <input
                type="radio"
                class="mx-2"
                name="s_cda"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_cda"
                value="zilnic"
              /> Zilnic
              <input
                type="radio"
                class="mx-2"
                name="s_cda"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_cda"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Consumator de droguri</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="s_cdd"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_cdd"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="s_cdd"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.s_cdd"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>6. Aveți</label>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Tuse</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_tuse"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_tuse"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_tuse"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_tuse"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Expectorație (spută)</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_e"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_e"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_e"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_e"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Hemoptizie (sânge în spută)</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_h"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_h"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_h"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_h"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Durere în piept</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_dip"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_dip"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_dip"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_dip"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Respirație grea</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_rg"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_rg"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_rg"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_rg"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Scăderea poftei de mâncare</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_spdm"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_spdm"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_spdm"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_spdm"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Scădere în greutate</label>
            <div class="d-flex">
              <input
                type="radio"
                class="mx-2"
                name="a_sig"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_sig"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_sig"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_sig"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Oboseală</label>
            <div class="d-flex">
              <input
                type="radio"
                class="mx-2"
                name="a_o"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_o"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_o"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_o"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label class="font-weight-normal">Transpirații</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="a_trans"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_trans"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="a_trans"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_trans"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="d-flex-column mb-2">
            <label class="font-weight-normal d-block">Altele</label>
            <div class="d-flex align-items-center">
              <input
                class="form-control"
                type="text"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.a_altele"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-2">
            <label>7. Boli cunoscute</label>
          </div>
          <div class="mb-4">
            <div style="columns:2">
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="nu"
                /> Nu
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Cancer pulmonar"
                /> Cancer pulmonar
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Alt tip de cancer"
                /> Alt tip de cancer
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Boli reumatice"
                /> Boli reumatice
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="HIV"
                /> HIV
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Hepatita in tratament/fara tratament"
                /> Hepatita in tratament/fara tratament
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="HTA"
                /> HTA
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Diabet"
                /> Diabet
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Ulcer"
                /> Ulcer
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="AVC"
                /> AVC
              </div>
              <div>
                <input
                  type="checkbox"
                  class="mx-2"
                  name="bc_extra[]"
                  v-model="pacient.informatii_generale.chestionar.raspunsuri.bc_extra"
                  value="Boli psihice"
                /> Boli psihice
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>8. Tratamente pe care le luați de multă vreme?</label>
            <div class="d-flex">
              <input
                type="radio"
                class="mx-2"
                name="tpclldmv"
                @change="handleTChange"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.tpclldmv"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="tpclldmv"
                @change="handleTChange"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.tpclldmv"
                value="nu"
              /> Nu
            </div>
          </div>
          <div class="extra-details mb-2" v-if="showTDetails">
            <textarea
              class="form-control"
              v-model="pacient.informatii_generale.chestionar.raspunsuri.tpclldmv_extra"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <label>9. Sunteți însărcinată?</label>
            <div class="d-flex align-items-center">
              <input
                type="radio"
                class="mx-2"
                name="si"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.si"
                value="da"
              /> Da
              <input
                type="radio"
                class="mx-2"
                name="si"
                v-model="pacient.informatii_generale.chestionar.raspunsuri.si"
                value="nu"
              /> Nu
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <Errors :errors="errors" v-if="errors !== false" />

          <button class="btn btn-primary" @click="proceed" v-if="$auth.user().roles_array.includes('medic')">
            <img src="../../assets/save.svg" /> Salveaza modificari
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

import Errors from "../Errors";

export default {
  name: "ScreeningChestionar",
  components: { DatePicker, Errors },
  data() {
    return {
      pacient: undefined,
      bcYes: null,
      errors: false,
      tYes: null
    };
  },
  computed: {
    showTDetails() {
      if (this.tYes === null) {
        if (
          this.pacient.informatii_generale.chestionar.raspunsuri.tpclldmv ===
          "da"
        ) {
          this.tYes = "da";
        }
      }

      if (this.tYes && this.tYes === "da") {
        return true;
      }

      return false;
    }
  },
  methods: {
    handleTChange(ev) {
      this.tYes = ev.target.value;
    },
    proceed() {
      const data = {
        ...this.pacient,
        informatii_generale: JSON.stringify(this.pacient.informatii_generale)
      };
      this.$http({
        url: `pacients/${this.$route.params.id}`,
        method: "POST",
        data
      }).then(
        res => {
          this.success = res.data.success;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        err => {
          this.errors = err.response.data.errors;
          this.has_error = true;
        }
      );
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
      this.pacient = data;
          this.pacient.informatii_generale = JSON.parse(
            data.informatii_generale
          );

          if (this.pacient.informatii_generale.chestionar === undefined) {
            this.pacient.informatii_generale.chestionar = {
              comuna: null,
              medic: null,
              amc_ms: null,
              centru_50_km: null,
              colocatari: null,
              checkedValues1: null,
              data_interpretare: null,
              rezultat_examinare: null,
              recomandari: null,
              raspunsuri: {}
            };
          }
          if (
            !Array.isArray(
              this.pacient.informatii_generale.chestionar.raspunsuri.bc_extra
            )
          ) {
            this.pacient.informatii_generale.chestionar.raspunsuri.bc_extra = [];
          }
    }
  },
  beforeMount() {
    this.getPacient(this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  padding-left: 0;
  &.li-ml li {
    margin-right: 3rem;
  }
}

.card-dashed {
  border-radius: 8px;
  border: dashed 1px rgb(158, 161, 193);
  background-color: rgb(247, 250, 253);
  padding: 2rem;
}
</style>