<template>
  <ul class="main-menu">
    <li>
      <img src="../assets/adauga-pacient.svg" />
      <router-link class="btn btn-primary" to="/adauga-pacient">Adaugă pacient</router-link>
    </li>
    <li>
      <img src="../assets/dashboard.svg" />
      <router-link to="/dashboard">Dashboard</router-link>
    </li>
    <li>
      <img src="../assets/lista-pacienti.svg" />
      <router-link to="/lista-pacienti">Listă pacienti</router-link>
    </li>
    <li>
      <img src="../assets/calendar.svg" />
      <router-link to="/calendar">Calendar</router-link>
    </li>
    <li>
      <img src="../assets/rapoarte.svg" />
      <router-link to="/">Rapoarte</router-link>
    </li>
    <li v-if="$auth.check(2)">
      <img src="../assets/stocuri.svg" />
      <router-link to="/admin/stocuri">Stocuri</router-link>
    </li>
    <li v-if="$auth.check(2)">
      <img src="../assets/info-caravana.svg" />
      <router-link to="/admin/info-caravana">Info Caravane</router-link>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
ul.main-menu {
  list-style: none;
  padding-top: 2rem;

  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    img {
        margin-right: 1rem;
        width: 18px;
    }

    a {
      font-family: "Archivo";
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
</style>
