<template>
	<div class="card">
		<div class="card-header">
			<h5 v-if="limit >= 1">Ultimii pacienți înscriși</h5>
			<h5 v-else>Pacienți înscriși</h5>
		</div>
		<div class="table-responsive">
			<datatable
				:columns="columns"
				:data="pacients"
				:per-page="15"
				:filter="cautare"
				class="table table-hover table-bordered">
				<template  slot-scope="{ row }">
						<tr>
							<td>{{ row.id }}</td>
							<td>{{ row.prenume + " " + row.nume }}</td>
							<td>{{ row.cnp }}</td>
							<td>{{ row.adresa_domiciliu + " " + row.judet }}</td>
							<td>{{ row.telefon }}</td>
							<td >
								<router-link :to="{name:'pacient-date-contact', params: {id: row.id}}" class="btn">
									Mergi la fișa pacientului
								</router-link>
							</td>
						</tr>
					</template>
				</datatable>
			<div class="col-12 py-4 d-flex align-items-center justify-content-center">
				<Errors :errors="errors" v-if="errors !== false" />
				<datatable-pager v-model="page" type="abbreviated"></datatable-pager>
			</div>
		</div>
	</div>
</template>

<script>
import slugify from "slugify";
import idb from '../store/idb/indexeddb';
import Errors from "./Errors";


export default {
	data() {
		return {
			errors: false,
			pacients: [],
			page: 1,
			filtered_by: null,
			columns: [
				{ label: "ID", field: "id" },
				{ label: "Nume", field: "nume" },
				// { label: "Prenume", field: "prenume" },
				{ label: "CNP", field: "cnp" },
				{ label: "Adresa", field: "adresa_domiciliu" },
				{ label: "Telefon", field: "telefon" },
				{ label: "Actiuni",
					representedAs: ({ id }) =>
						`<div @click="goToPacient(${id})" class="btn">
							Fișa pacientului
						</div>`,
					interpolate: true
				}
			]
		};
	},

	props: ["cautare", "limit", "judet", "data_radiografie"],
	mounted() {
		this.getUsers();
	},

	methods: {
		goToPacient(id) {
			this.$router.push({name:'pacient-date-contact', params: {id: pacient.id}});
		},
		getUsers() {
			this.$http({
				url: `pacients`,
				method: "GET"
			}).then(
				res => {
					//console.log('in patients res',res);
					
					let lastDatabaseSyncDate = localStorage.getItem('lastDatabaseSyncDate'); 
					if(!lastDatabaseSyncDate){
						lastDatabaseSyncDate = new Date();
					}
					idb.getPatientsUpdatedSince(lastDatabaseSyncDate).then(offlinedata=>{
						
						//console.log('data',offlinedata);
						//show popup
						if(offlinedata.length && confirm("Aveti date locale care nu sunt salvate pe server. Apasati ok pentru a le urca pe server si a reinnoi sesiunea, sau cancel pentru a sterge datele respective")){
							this.$http({
								url: `pacients/bulk`,
								method: "POST",
								data:res
							}).then( (result) => {
								localStorage.setItem('lastDatabaseSyncDate',new Date().toISOString());
								idb.saveDatabase(result.data.pacients);
								this.displayData(result.data.pacients);
							})
						
								

						}else{
							//nothing to upload, just save and display
							idb.saveDatabase(res.data.pacients)
							this.displayData(res.data.pacients)
						}
					})
					
				},
				(err) => {
					//console.log('in patients err',err.toString());
					if(err.message === 'Network Error'){
						idb.getPatients().then(data=>{
							this.displayData(data);
						})
					}
					
				}
			);
		},
		displayData(pacients){
			if(pacients && pacients.length>0){
				this.pacients = pacients;
				if (this.judet && this.judet !== "") {
					this.filtered_by = slugify(this.judet.name);
					this.pacients = this.pacients.filter(item => {
						//console.log( 'slugify', slugify(item.judet_domiciliu), slugify(this.judet.name) );
						return slugify(item.judet_domiciliu) === slugify(this.judet.name);
					});
				}
				if (this.limit >= 1) {
				this.pacients = this.pacients.reverse().slice(0, this.limit);
				}
			}else{
				this.error = ["Nu exista niciun pacient introdus in memorie. Daca nu aveti internet, va rugam sa va conectati si apoi sa reincarcati pagina."];
			}
		}
	}
};
</script>
