<template>
  <div class="card">
    <div class="card-header">
      <ul>
        <li>
          <a href="#" @click.prevent="formular2">
            <i class="fas fa-file"></i> Opisul documentelor dosar grup tinta (formular 2)
          </a>
        </li>
        <li>
          <a href="#" @click.prevent="formular3">
            <i class="fas fa-file"></i> Formular de inregistrare individuala a participantilor la operatiunile finantate prin POCU 2014-2020 (formular 3)
          </a>
        </li>
        <li>
          <a href="#" @click.prevent="formular8">
            <i class="fas fa-file"></i> Chestionar de colectare date medicale (formular 8)
          </a>
        </li>
        <li>
          <a href="#" @click.prevent="formular4">
            <i class="fas fa-file"></i> Declaratie de evitare a dublei finantari (formular 4)
          </a>
        </li>
        <li>
          <a href="#" @click.prevent="formular5">
            <i class="fas fa-file"></i> ANGAJAMENT de disponibilitate fata de activitatile proiectului (formular 5)
          </a>
        </li>
        <!-- <li>
          <a href="#" @click.prevent="formular6">
            <i class="fas fa-file"></i> Declaratie (formular 6)
          </a>
        </li> -->
        <li>
          <a href="#" @click.prevent="formular7">
            <i class="fas fa-file"></i> Consimtamant privind acordul de prelucrare a datelor cu caracter personal (formular 7)
          </a>
        </li>
        <!-- <li>
          <a href="#" @click.prevent="formular7a">
            <i class="fas fa-file"></i> ACORD DE FOLOSIRE A IMAGINII ȘI DECLARAȚIILOR
          </a>
        </li>
        <li>
          <a href="#" @click.prevent="formular7b">
            <i class="fas fa-file"></i> ANEXA LA ACORD DE FOLOSIRE A IMAGINII ȘI
            DECLARAȚIILOR
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pacient: {}
    };
  },
  methods: {
    formular3() {
      return this.$router.push({
        name: "formular-3",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular2() {
      return this.$router.push({
        name: "opis-documente",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular8() {
      return this.$router.push({
        name: "formular-8",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular4() {
      return this.$router.push({
        name: "formular-4",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular5() {
      return this.$router.push({
        name: "formular-5",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular7() {
      return this.$router.push({
        name: "formular-7",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular7a() {
      return this.$router.push({
        name: "formular-7a",
        query: {
          pacient: this.pacient
        }
      });
    },
    formular7b() {
      return this.$router.push({
        name: "formular-7b",
        query: {
          pacient: this.pacient
        }
      });
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);
        
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
          this.pacient = data;
          this.pacient.informatii_generale = JSON.parse(
            data.informatii_generale
          );

          if (this.pacient.informatii_generale.chestionar === undefined) {
            this.pacient.informatii_generale.chestionar = {
              comuna: null,
              medic: null,
              amc_ms: null,
              centru_50_km: null,
              colocatari: null,
              checkedValues1: null,
              data_interpretare: null,
              rezultat_examinare: null,
              recomandari: null,
              raspunsuri: {}
            };
          }
          if (
            !Array.isArray(this.pacient.informatii_generale.chestionar.raspunsuri.bc_extra)
          ) {
            this.pacient.informatii_generale.chestionar.raspunsuri.bc_extra = [];
          }
    }
  },
  created() {
    this.getPacient(this.$route.params.id);
  }
};
</script>