<template>
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Imagini radiologie si screening</h5>
      </div>

      <div class="card-body" v-if="pacient && pacient.radiografii.length < 3">
        <adauga-radiografie :pacient="pacient" v-on:added-radiografie="onAddedRadiografie" />
      </div>

      <div class="card-body" v-if="pacient && pacient.radiografii.length">
        <div class="radiologii-container mb-5">
          <div
            class="row radiografie-row mb-4 border"
            v-for="(radiografie,index) in pacient.radiografii"
            :key="radiografie.id" >
            <div class="col-12 col-md-4 dwv-clicker" @click="handleOpenDwv(radiografie.id)">
              <dwvVue style="height:250px;" :srcimg="radiografie.image_url" />
              
            </div>
            <div class="col-12 col-md-8 p-4">
              <div class="flex-grow-1 d-flex flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                   <h5 class="mb-1">Radiografie {{ index + 1 }}</h5>
                    <small>{{radiografie.created_at}}</small>
                </div>
                <p class="mb-1">{{ radiografie.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="buletine" v-if="pacient.radiografii[0]">
          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="forms">1. Buletin de interpretare EXPERT LOCAL TB</h2>
            </div>
          </div>
          <buletin-interpretare
            :pacient="pacient"
            :radiografie="pacient.radiografii[0]"
            type="expert-local-tb"
            class="mb-4"
          />

          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="forms">Bilet trimitere</h2>
            </div>
          </div>

          <bilet-trimitere :pacient="pacient" type="bilet-radiografie" />

          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="forms">2. Buletin de interpretare EXPERT ȘTIINȚIFIC IPNM</h2>
            </div>
          </div>
          <buletin-interpretare
            :pacient="pacient"
            :radiografie="pacient.radiografii[0]"
            type="expert-stiintific-ipnm"
          />

          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="forms">3. Buletin de interpretare MEDIC RADIOLOG</h2>
            </div>
          </div>
          <buletin-interpretare
            :pacient="pacient"
            :radiografie="pacient.radiografii[0]"
            type="medic-radiolog"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdaugaRadiografie from "./Add";
import BuletinInterpretare from "../BuletinInterpretare";
import BiletTrimitere from "../BiletTrimitere";
import dwvVue from "../../dwv";

export default {
  name: "ScreeningRadiologie",
  components: { AdaugaRadiografie, BuletinInterpretare, BiletTrimitere, dwvVue },
  data() {
    return {
      pacient: undefined,
      radiologii: [],
      buletin: {},
      addImage: false,
      newImage: {
        description: null
      },
      file: null,
      radiologieErrors: false,
      dropzoneOptions: {
        url: `radiologie/create`,
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        headers: { "My-Awesome-Header": "header value" }
      }
    };
  },
  created() {
    this.getPacient(this.$route.params.id);
  },
  mounted() {},
  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    handleOpenDwv(id) {
      this.$router.push({
        name: "afisare-radiografie",
        params: { imageUrl: id }
      });
    },
    onAddedRadiografie(radiografie) {
      this.pacient.radiografii.push(radiografie);
    },
    addRadiologie() {
      this.success = false;
      this.error = false;

      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("description", this.newImage.description);
      formData.append("pacient_id", this.pacient.id);

      this.$http({
        url: `radiologie/add`,
        method: "POST",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(
        res => {
          this.pacient.radiografii.push(res.data.radiologie);
          this.addImage = false;
          this.file = null;
          this.newImage.description = null;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        err => {
          console.error(err.response);
          this.radiologieErrors = err.response.data.errors;
        }
      );
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);
        },
       (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
       this.pacient = data;
          this.pacient.informatii_generale = JSON.parse(
            data.informatii_generale
          );
    }
  }
};
</script>

<style lang="scss" scoped>
.image-container {
  img {
    height: 250px;
    object-fit: contain;
  }
}
.card-dashed {
  border-radius: 8px;
  border: dashed 1px rgb(158, 161, 193);
  background-color: rgb(247, 250, 253);
  padding: 2rem;
}

.dwv-clicker {
  cursor: pointer;
}

/* .radiografie-row {
  img {
    max-height: 150px;
  }
} */
</style>