<template>
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5>Imagini radiologie si screening</h5>
      <router-link
        :to="{name:'pacient-radiologie-add'}"
        class="btn btn-secondary"
      >Adaugă radiografie</router-link>
    </div>
    <div class="card-body">
      <div class="list-group">
        <router-link
          class="list-group-item list-group-item-action d-flex flex-row"
          href="#"
          v-for="(radiografie,index) in radiologii"
          :key="radiografie.id"
          :to="{name:'pacient-radiologie-view', params: {id: $route.params.id, radiografie_id: radiografie.id}}"
        >
          <img :src="radiografie.image_url" class="img-fluid" height="100px" />
          <div class="flex-grow-1 d-flex flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Radiografie {{ index + 1 }}</h5>
              <small>{{radiografie.created_at}}</small>
            </div>
            <p class="mb-1">{{ radiografie.description }}</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      radiologii: []
    };
  },
  mounted() {
    this.$http({
      url: `radiologie/${this.$route.params.id}`,
      method: "GET"
    }).then(
      res => {
        this.radiologii = res.data.radiologii;
      },
      () => {
        this.has_error = true;
      }
    );
  }
};
</script>