<template>
  <div class="card" v-if="radiografie !== undefined">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5>Imagini radiologie si screening</h5>
      <router-link
        :to="{ name: 'pacient-radiologie', params:{id: $route.params.id}}"
        class="btn btn-secondary"
      >Înapoi</router-link>
    </div>

    <div class="card-body">
      <div class="radiologii-container mb-5">
        <div class="row">
          <div class="col-12 col-md-5">
            <img :src="radiografie.image_url" class="img-fluid" />
          </div>
          <div class="col-12 col-md-7">
            <div class="flex-grow-1 d-flex flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <small>{{radiografie.created_at}}</small>
              </div>
              <p class="mb-1">{{ radiografie.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="buletine">
        <div class="row">
          <div class="col-12 mb-4">
            <h2 class="forms">1. Buletin de interpretare EXPERT LOCAL TB</h2>
          </div>
        </div>
        <buletin-interpretare :pacient="pacient" :radiografie="radiografie" type="expert-local-tb" />

        <bilet-trimitere :pacient="pacient" type="radiografie" />


        <div class="row">
          <div class="col-12 mb-4">
            <h2 class="forms">2. Buletin de interpretare EXPERT ȘTIINȚIFIC IPNM</h2>
          </div>
        </div>
        <buletin-interpretare :pacient="pacient" :radiografie="radiografie" type="expert-stiintific-ipnm" />

        <div class="row">
          <div class="col-12 mb-4">
            <h2 class="forms">3. Buletin de interpretare MEDIC RADIOLOG</h2>
          </div>
        </div>
        <buletin-interpretare :pacient="pacient" :radiografie="radiografie" type="medic-radiolog" />
      </div>
    </div>
  </div>
</template>

<script>
import BuletinInterpretare from "../BuletinInterpretare";
import BiletTrimitere from "../BiletTrimitere";

export default {
  name: "ScreeningRadiologieView",
  components: {},
  data() {
    return {
      radiografie: [],
      pacient: undefined
    };
  },
  created() {
    this.getRadiografie(this.$route.params.radiografie_id);
    this.getPacient(this.$route.params.id);
  },
  components: { BiletTrimirere },
  methods: {
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);
          
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
      this.pacient = data;
          this.pacient.informatii_generale = JSON.parse(
            data.informatii_generale
          );

          if (this.pacient.informatii_generale.chestionar === undefined) {
            this.pacient.informatii_generale.chestionar = {
              comuna: null,
              medic: null,
              amc_ms: null,
              centru_50_km: null,
              colocatari: null,
              checkedValues1: null,
              data_interpretare: null,
              rezultat_examinare: null,
              recomandari: null,
              raspunsuri: {}
            };
          }
    
    },
    getRadiografie(id) {
      this.$http({
        url: `radiologie/view/${id}`,
        method: "GET"
      }).then(
        res => {
          this.radiografie = res.data.radiografie;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.image-container {
  img {
    height: 250px;
    object-fit: contain;
  }
}
.card-dashed {
  border-radius: 8px;
  border: dashed 1px rgb(158, 161, 193);
  background-color: rgb(247, 250, 253);
  padding: 2rem;
}
</style>