<template>
  <div class="header">
    <div class="header-small" style="font-style: italic;font-size: 8px;">
      <span class="font-weight-bold">PROGRAMUL OPERATIONAL CAPITAL UMAN</span>
      <br />Axa prioritara 4 - Incluziunea socială și combaterea saraciei
      <br />Obiectivul tematic 9: Promovarea incluziunii sociale, combaterea saraciei și a oricarei forme de discriminare
      <br />Prioritatea de investitii 9.iv: Cresterea accesului la servicii accesibile, durabile și de inalta calitate, inclusiv asistenta medicala și servicii sociale de interes general
      <br />Obiectivul specific 4.9: Creșterea numărului de persoane care beneficiază de programe de sănătate și de servicii orientate către prevenție, depistare precoce (screening), diagnostic și tratament precoce pentru principalele patologii și și
      <br />Titlul proiectului:
      <span
        class="font-weight-bold"
      >Organizarea de programe de depistare precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente</span>
      <br />Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426)
    </div>
    <br/>
    <!-- <div class="header-details">
      Județul <input type="text" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data {{new Date().getFullYear() }} luna {{new Date().getMonth() }} ziua {{new Date().getDate() }}
      <br />Localitatea <input type="text" />
      <br />Unitatea sanitară: Caravana de screening - Institutul de Pneumoftiziologie Marius Nasta
    </div> -->
  </div>
</template>
<script>
export default {
  name: "formular-header"
};
</script>

<style lang="scss" scoped>
input {
  border-bottom: 1px solid red !important;
  font-weight: bold;
}
</style>