<template>
  <div class="col-12 bg-white">
    <div class="row">
      <div class="col-12 mb-4 pt-4">
        <h2 class="mb-4 forms">Intervenție nouă</h2>
      </div>

      <div class="col-12 col-md-3 mb-4">
        <label>Data</label>
        <input type="text" class="form-control" v-model="int.data" disabled />
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Ora</label>
        <input type="text" class="form-control" v-model="int.ora" disabled />
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Durata apelului (minute)</label>
        <input type="number" class="form-control" v-model="int.durata_apel" disabled />
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Doze omise</label>
        <input type="text" class="form-control" v-model="int.doze_omise" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Reacții adverse la tratament</label>
        <input type="text" class="form-control" v-model="int.reactii_adverse" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Simptome depresive</label>
        <input type="text" class="form-control" v-model="int.simptome_depresive" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Simptome anxioase</label>
        <input type="text" class="form-control" v-model="int.simptome_anxioase" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Consum alcool</label>
        <input type="text" class="form-control" v-model="int.consum_alcool" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Consum tutun</label>
        <input type="text" class="form-control" v-model="int.consum_tutun" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Alt comportament adictiv</label>
        <input type="text" class="form-control" v-model="int.alt_comportament_adictiv" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Boli existente: coping</label>
        <input type="text" class="form-control" v-model="int.boli_existente" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Probleme sociale</label>
        <input type="text" class="form-control" v-model="int.probleme_sociale" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Referințe EMD</label>
        <input type="text" class="form-control" v-model="int.referinte_emd" disabled />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Observații</label>
        <input type="text" class="form-control" v-model="int.observatii" disabled />
      </div>

      <Errors v-if="errors" :errors="errors" />
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import Errors from "../Errors";

export default {
  data() {
    return {
      errors: false
    };
  },

  props: ["pacient", "int"],
  components: { Errors, Datepicker },
  methods: {

  }
};
</script>