<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body" id="printable-section">
      <p>
        Nume
        <input type="text" v-model="pacient.nume" class="form-input" />
        Prenume
        <input type="text" v-model="pacient.prenume" class="form-input" />
      </p>
      <p>
        CNP
        <input type="text" v-model="pacient.cnp" class="form-input" />
      </p>
      <p>
        Dispensar TB
        <input type="text" v-model="dispensar" class="form-input" />
        Judet
        <input type="text" v-model="judet" class="form-input" />
      </p>
      <p>
        Diagnostic
        <input type="text" v-model="diagnostic" class="form-input" />
      </p>
      <div>
        <p>
          Localizare: Pulmonara
          <input type="radio" /> Extrapulmonara
          <input type="radio" />
        </p>
        <p>
          Tip Caz: Caz Nou
          <input type="radio" /> Abandon
          <input type="radio" />
          Transfer
          <input type="radio" /> Esec
          <input type="radio" /> Recidiva
          <input type="radio" /> Cronic
          <input type="radio" />
        </p>
        <p>
          Test Genetic efectuat: Da
          <input type="radio" /> Nu
          <input type="radio" />
        </p>
        <p>
          Regim: Standard
          <input type="radio" /> Individualizat
          <input type="radio" /> MDR/XDR
          <input type="radio" />
        </p>
        <div>
          <p>Rezultat examen bacteriologic:</p>

          <table class="table-bordered" style="width:100%; border:1px solid #ccc;">
            <tr>
              <td colspan="2">Luna Tratament</td>
              <td>Rezultat examen direct</td>
              <td>Rezultat Cultura</td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T0</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T1</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T2</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T3</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T4</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T5</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T6</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T7</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T8</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T9</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T10</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T11</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T12</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T13</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T14</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T15</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T16</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T17</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T18</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T19</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T20</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T21</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T22</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T23</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>T24</td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
          </table>
        </div>
        <p>
          Data Evaluare
          <input type="text" class="form-input" />
        </p>
        <p>
          Evaluare Caz TB: N (caz nou)
          <input type="radio" v-model="evaluareTB" value="N" /> E (retratament dupa esec)
          <input type="radio" v-model="evaluareTB" value="E" /> R (recidiva)
          <input type="radio" v-model="evaluareTB" value="R" /> A (retratament dupa abandon)
          <input type="radio" v-model="evaluareTB" value="A" /> C (cronic)
          <input type="radio" v-model="evaluareTB" value="C" />
        </p>
        <p>
          Evaluare Caz TB MDR: V (vindecat)
          <input type="radio" v-model="evaluareMDR" value="V" />
          E (esec)
          <input type="radio" v-model="evaluareMDR" value="E" />
          T (tratament complet)
          <input type="radio" v-model="evaluareMDR" value="T" />
          A (abandon)
          <input type="radio" v-model="evaluareMDR" value="A" />
          D (deces)
          <input type="radio" v-model="evaluareMDR" value="D" />
          P (pierdut)
          <input type="radio" v-model="evaluareMDR" value="P" />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tratament",
  data() {
    return {
      pacient: null,
      evaluareMDR: null,
      evaluareTB: null,
      judet: null,
      dispensar: null,
      diagnostic: null
    }
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          "* { font-size: 18px !important } #printable-section { padding-left: 60px; padding-right: 60px; } .font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:15px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 19px !important; } .font-weight-bold { font-size: 21px !important;} .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; } .header .font-weight-bold {font-size: 15px !important;}"
      });
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.pacient = res.data.pacient;
          this.pacient.informatii_generale = JSON.parse(
            res.data.pacient.informatii_generale
          );

          if (this.pacient.informatii_generale.chestionar === undefined) {
            this.pacient.informatii_generale.chestionar = {
              comuna: null,
              medic: null,
              amc_ms: null,
              centru_50_km: null,
              colocatari: null,
              checkedValues1: null,
              data_interpretare: null,
              rezultat_examinare: null,
              recomandari: null,
              raspunsuri: {}
            };
          }
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    }
  },
  created() {
    this.getPacient(this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
.form-input {
  border-bottom: 1px solid #000;
}
</style>