<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
          <i class="fas fa-print mr-2"></i>
          Tipareste
        </button>
      </div>
      <div class="card-body">
        <div id="printable-section">
          <Header />
          <p class="font-weight-bold text-center">
            BULETIN DE ÎNSOȚIRE A SPUTEI
            <br />
            <br />Către dispensarul TB
            <input type="text" class="form-input" />
          </p>
          <br />
          <br />
          <div>
            Numele {{$auth.user().name}}
            <br />Funcția în cadrul proiectului
            <input type="text" class="form-input" />
            <br />
            <br />
            Nr. Produse {{nrProduse}}
            <br />
            <br />Nume prenume pacienți pentru care s-au recoltat probe:
            <div v-for="(sputa,index) in spute" :key="sputa.id">
              {{ index + 1 }}. {{ sputa.pacient.nume }} {{ sputa.pacient.prenume }} CNP {{ sputa.pacient.cnp }},
              <span
                v-if="sputa.buletin && sputa.buletin.aspect"
              >aspect {{ sputa.buletin.aspect }}, </span>
              <span
                v-if="sputa.buletin && sputa.buletin.cantitate"
              >cantitate {{ sputa.buletin.cantitate }}, </span>
              <span
                v-if="sputa.buletin && sputa.buletin.mentiuni"
              >mentiuni {{ sputa.buletin.mentiuni }}, </span>
              <span
                v-if="sputa.buletin && sputa.buletin.produse"
              >produse {{ sputa.buletin.produse }}, </span>
            </div>
            <br />Comentarii (nr. de produse, aspect, cantitate, mențiuni speciale)
            <br />
          </div>
          <table width="100%">
            <tr class="mb-5">
              <td>
                Data:
                <input type="text" class="form-input" />
                <br />
                <br />
              </td>
              <td>
                Semnătura persoanei care trimite
                <br />...........................
              </td>
            </tr>
            <tr>
              <td>
                Nume Prenume și semnătura persoanei care primește
                <br />
                <input type="text" class="form-input" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import Header from "../Formular/Header";

export default {
  name: "buletin-spute",
  data() {
    return {
      spute: [],
      selectedSpute: []
    };
  },
  computed: {
    nrProduse() {
      return this.spute.reduce((acc, val) => {
        if (val.buletin !== null && val.buletin.produse !== undefined) {
          return acc + parseInt(val.buletin.produse);
        } else {
          return acc;
        }
      }, 0);
    }
  },
  components: { Header },
  created() {
    this.spute = this.$route.query.spute;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1.6; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; }"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  border-bottom: 1px solid red !important;
  font-weight: bold;
}
</style>