<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />
        <p class="font-weight-bold text-center">
          CONSIMȚĂMÂNT
          <br />PRIVIND ACORDUL DE PRELUCRARE A DATELOR CU CARACTER
          <br />PERSONAL
        </p>
        <br />
        <br />
        <p>
          Subsemnatul/a {{pacient.nume}} {{pacient.prenume}} posesor al BI/CI, seria {{pacient.informatii_generale.serieBuletin || '...........................'}} nr. {{pacient.informatii_generale.nrBuletin || '...........................'}} CNP {{pacient.cnp}}
          domiciliat/ă în {{pacient.adresa_domiciliu}} Judeţul {{pacient.judet_domiciliu || pacient.judet}}
          Telefon {{pacient.telefon || '...........................'}} email: {{pacient.email || '...........................'}}
          <br />În calitate de participant în cadrul
          <i>Proiectului</i> ”Organizarea de programe de depistare precoce
          (screening), diagnostic şi tratament precoce al tuberculozei, inclusiv al tuberculozei latente”,
          Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426), prin prezenta declar în mod voluntar că îmi
          dau acordul în cunoștință de cauză pentru prelucrarea datelor cu caracter personal (inclusiv datele
          privind sănătatea, acolo unde este cazul), următorilor operatori de date:
          <br />
          <span
            class="font-weight-bold"
          >1. INSTITUTUL DE PNEUMOFTIZIOLOGIE ''MARIUS NASTA” (IPMN)- BENEFICAR- LIDER DE PARTENERIAT</span>
          cu sediul în
          București, Șoseaua Viilor nr. 90, Sector 4, codul fiscal 4316180, email: gdpr@screeningtb.ro;
          <br />
          <span class="font-weight-bold">2. Asociația Română Anti-SIDA (P1)</span> cu sediul in Bucuresti, Bd.
          Eroii Sanitari nr. 49 email:
          gdpr@arasnet.ro
          <br />
          <span
            class="font-weight-bold"
          >3. Uniunea Națională a Organizațiilor Persoanelor Afectate HIV/SIDA (P2)</span>
          cu sediul in Strada Stefan
          Greceanu nr. 7, etaj 1, București email: unopa@unopa.ro
          <br />
          <span
            class="font-weight-bold"
          >4. Fundația Centrul pentru Politici și Servicii de Sănătate (P3)</span> cu
          sediul in Intrarea Gădinți nr.4,
          București email:
          <a
            href="mailto:protectia-datelor@cpss.ro"
          >protectia-datelor@cpss.ro</a>
          <br />
          <span class="font-weight-bold">5. Asociația SamuSocial din România (P4)</span> cu sediul in Sos.
          Grozăvești nr. 82Bis, Sector 6 email:
          pr@samusocial.ro
          <br />
          <span
            class="font-weight-bold"
          >6. Asociația pentru Sprijinirea Pacienților cu Tuberculoză Multidrog Rezistentă (P5)</span>
          cu sediul in Sos
          Panduri nr. 29, bloc P2A, sc.1, etajul 2, ap. 11, Bucuresti, email: office@asptmr.ro
          <br />
          <span class="font-weight-bold">7. Fundația Romanian Angel Appeal (P6)</span>, cu sediul în Str.
          Rodiei nr. 52, sector 3, Bucureşti, email:
          <a
            href="mailto:protectia-datelor@cpss.ro"
          >protectia-datelor@cpss.ro</a>.
          <br />Înțeleg că datele colectate în urma screeningului sunt utilizate pentru a fi analizate prin metode
          statistice specifice pentru monitorizarea implementării și elaborării de studii, rapoarte și informări
          precum și pentru realizarea indicatorilor conform contractului de finanțare aferent
          <i>Proiectului</i>.
          <br />
        </p>
        <table class="table-bordered" style="width: 100%;">
          <thead>
            <tr>
              <th class="text-center">
                Nr.
                <br />Crt.
              </th>
              <th class="text-center">
                Date cu caracter personal colectate
                în vederea realizării indicatorilor menționați în Contract nr. POCU/225/4/9/117426 (Cod SMIS
                2014+: 117426)
              </th>
              <th class="text-center w-50">IPMN</th>
              <th class="text-center w-50">P1</th>
              <th class="text-center w-50">P2</th>
              <th class="text-center w-50">P3</th>
              <th class="text-center w-50">P4</th>
              <th class="text-center w-50">P5</th>
              <th class="text-center w-50">P6</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1.</td>
              <td>Nume și prenume</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
            </tr>
            <tr>
              <td class="text-center">2.</td>
              <td>Adresa de domiciliu/rezidență/locuire</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
            </tr>
            <tr>
              <td class="text-center">3.</td>
              <td>CNP</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
            </tr>
            <tr>
              <td class="text-center">4.</td>
              <td>Serie și număr carte de identitate</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td></td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center">5.</td>
              <td>Număr de telefon/ adresă de e-mail</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
            </tr>
            <tr>
              <td class="text-center">6.</td>
              <td>Date socio-demografice și psiho-medicale</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td></td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center">7.</td>
              <td>
                Date necesare desfășurării activității de screening precum: zonă, localizare geografică, gen,
                categorie de vârstă, categorie de grup țintă din care faceți parte, situația pe piața forței de
                muncă, nivel de educație, categorie de persoană dezavantajată (după caz)
              </td>
              <td class="text-center vertical-middle">X</td>
              <td class="text-center vertical-middle">X</td>
              <td class="text-center vertical-middle">X</td>
              <td></td>
              <td class="text-center vertical-middle">X</td>
              <td class="text-center vertical-middle">X</td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center">8.</td>
              <td>Semnătura</td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
              <td class="text-center"> X </td>
            </tr>
            <tr>
              <td class="text-center">9.</td>
              <td>Imagine</td>
              <td class="text-center"> X </td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"> X </td>
              <td></td>
              <td class="text-center"> X </td>
            </tr>
          </tbody>
        </table>
        <br />
        <p>
          Datele colectate menționate mai sus vor fi transmise și stocate ca documente ale grupului țintă în
          format fizic (suport hârtie) și electronic, atât în arhivele IPMN cât și în arhivele partenerilor.
          Datele cu caracter personal, socio-demografice și pisho-medicale, așa cum sunt menționate în tabelul de
          mai sus, vor fi accesibile angajaților autorizați și reprezentanților operatorilor și procesatorilor
          menționați mai sus, implicați în Proiect, precum și autorităților competente în conformitate cu
          prevederile legale în vigoare.
          Înțeleg că, datele vor fi procesate până când consimțământul va fi revocat sau cât este necesar în
          raport cu scopurile descrise mai sus, dar nu mai devreme de 3 ani de la data închiderii oficiale a POCU
          2014-2020. După ce perioada indicată expiră, datele mele personale vor fi șterse definitiv. Revocarea
          consimțământului nu afectează legalitatea utilizării datelor înainte de retragerea consimțământului
          (notificarea nu are impact retroactiv)
          Înțeleg că, în calitate de subiect de date cu caracter personal, am dreptul să solicit oricărui operator
          următoarele: accesarea datelor mele personale, rectificarea, restricționarea prelucrării, portarea și
          copierea lor. Toate drepturile descrise în acest paragraf pot fi solicitate prin trimiterea unei cereri
          electronice la adresa de e-mail menționată mai sus către oricare operator de date.
          În cazul în care solicitările mele nu sunt soluționate prin transmiterea cererii la adresa de e-mail de
          mai sus, înțeleg că am dreptul de a mă adresa Autorității Naţionale de Supraveghere a Prelucrării
          Datelor cu Caracter Personal. Alte detalii pot fi accesate pe site-ul
          <a href="www.screeningtb.ro">www.screeningtb.ro</a>
          la secțiunea
          GDPR.
          
        </p>
        <div class="justify-content-between page-break">
          <div>
              Data:
              <br />
              <input type="text" class="form-input" />
          </div>
          <div class="text-right">
              Nume, prenume și semnătura:
              <br />
              <input type="text" class="form-input" :value="pacient.nume + ' ' + pacient.prenume" />
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
          <div>
            <!-- <span class="font-weight-bold">
              <i>Anexa 1</i>
            </span> -->
            <p class="font-weight-bold text-center">ACORD DE FOLOSIRE A IMAGINII ȘI DECLARAȚIILOR</p>
            Subsemnatul/a {{pacient.nume}} {{pacient.prenume}}, domiciliat {{pacient.adresa_domiciliu }}, județul {{pacient.judet}}, posesor al CI/BI seria {{pacient.informatii_generale.serieBuletin || '...........................'}}, Nr. {{pacient.informatii_generale.nrBuletin  || '...........................'}}, CNP {{pacient.cnp}},
            <br />Declar prin prezenta că:
            <br />- am luat la cunoștință, am înțeles și sunt de acord să particip în cadrul acestui
            <i>Proiect</i> (Anexa
            1 la prezenta);
            <br />- îmi dau acordul în cunoștință de cauză pentru prelucrarea datelor mele cu caracter personal (inclusiv
            datele privind sănătatea și datele biometrice, respectiv fotografia și/sau vocea, după caz), în legătură
            cu și pentru următoarele scopuri ale
            <i>Proiectului</i>: ”acțiuni de educare, informare și
            conștientizare a publicului cu privire la depistarea precoce (screeningul), diagnosticul și tratamentul
            tuberculozei, în cadrul
            <i>Proiectului</i>”;
            <br />- am luat la cunoştinţă despre faptul că mă puteam opune acestor prelucrări de date, fără nicio
            consecință negativă asupra participării mele în cadrul
            <i>Proiectului</i>;
            <br />- sunt de acord cu înregistrarea și reproducerea, în orice mod, a înfăţişării mele fizice ori a vocii
            mele și expunerea lor în cuprinsul materialelor (audio/video/tipărite/electronice) elaborate de către
            partenerii
            <i>Proiectului</i> menționați în anexă, pentru scopul
            <i>Proiectului</i>;
            <br />- sunt de acord cu difuzarea de materiale (audio/ video/ tipărite/ electronice) conţinând imaginea mea,
            declarațiile mele referitoare la persoana mea, numele meu, date cu caracter personal privind starea mea
            de sănătate, problemele mele de diagnostic, prognostic, tratament, circumstanţe în legătură cu boala mea
            şi cu alte diverse fapte;
            <br />- sunt de acord să cedez partenerilor din Proiect, exclusiv și pe perioadă nedeterminată, drepturile de
            autor cu privire la declarațiile mele și imaginile cu privire la persoana mea oferite în cadrul acestui
            Proiect;
            <br />- nu am și nu voi avea nici o pretenție prezentă sau viitoare față de aceste difuzări/apariții/publicări
            așa cum sunt menționate mai sus;
            <br />- înțeleg și sunt de acord că datele vor fi procesate până când consimțământul va fi revocat sau cât
            este necesar în raport cu scopurile descrise mai sus, dar nu mai mult de 3 ani de la închiderea oficială
            a POCU 2014-2020. După ce perioada indicată expiră, datele mele personale vor fi șterse definitiv.
            - înțeleg că, în calitate de subiect de date cu caracter personal, am dreptul să solicit oricărui
            operator, următoarele: accesarea datelor mele personale, rectificarea lor, restricționarea prelucrării
            lor, portarea lor și copierea lor.
            <br />
            <br />În cazul în care solicitările mele nu sunt soluționate de către operator/operatori, înțeleg că am dreptul
            de a mă adresa Autorității Naţionale de Supraveghere a Prelucrării Datelor cu Caracter Personal.
            <br />Certific că am citit, am înţeles şi accept pe deplin cele de mai sus şi ca urmare le semnez.
            <br />
            <br />
            <div class="justify-content-between page-break">
              <div>
                  Data:
                  <br />
                  <input type="text" class="form-input" />
              </div>
              <div class="text-right">
                  Nume, prenume și semnătura:
                  <br />
                  <input type="text" class="form-input" :value="pacient.nume + ' ' + pacient.prenume" />
              </div>
            </div>
          </div>
          <br />
          <br />
          <div>
            <p class="font-weight-bold text-center text-underlined">
              ANEXA LA ACORD DE FOLOSIRE A IMAGINII ȘI
              DECLARAȚIILOR
            </p>
            <p>
              Proiectul
              <span
                class="font-weight-bold"
              >”Organizarea de programe de depistare precoce (screening), diagnostic si tratament precoce altuberculozei, inclusiv al tuberculozei latente”</span>,
              Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426) este implementat de următorii
              parteneri-operatori de date cu caracter personal:
              <br />
              <br />- Institutul de Pneumoftiziologie ”Marius Nasta” București în parteneriat cu: Asociația Română Anti-Sida
              (ARAS), Fundația Centrul pentru Politici și Servicii de Sănătate, Fundația Romanian Angel Appeal,
              Federația Uniunea Națională a Organizațiilor Persoanelor Afectate de HIV/SIDA (UNOPA), Asociația pentru
              Sprijinirea Pacienților cu Tuberculoză Multidrog-Rezistentă (ASPTMR) și SAMUSOCIAL din România
              (Serviciul de Ajutor Mobil de Urgenţă Socială), în perioada martie 2018 - februarie 2023.
              <br />
              <br />
              <span class="font-weight-bold">Scopul și obiectivele proiectului:</span> Promovarea incluziunii sociale,
              combaterea sărăciei și a oricărei forme de discriminare, prin creșterea accesului la servicii
              accesibile, durabile și de înaltă calitate, inclusiv asistență medicală și servicii sociale de interes
              general, prin organizarea de programe de sănătate și servicii orientate către prevenirea, depistarea
              precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente,
              pentru 75010 persoane aparținând grupurilor vulnerabile, inclusiv derularea de activități de sprijin și
              asistență, inclusiv subvenții, pentru 15003 persoane din grupurile vulnerabile, completate de activități
              de informare, educare si conștientizare a grupului ținta, precum si prin organizarea de programe de
              formare pentru 560 de persoane în vederea asigurării unui nivel de competențe îmbunătățit al
              profesioniștilor implicați în prevenirea, depistarea precoce (screening), diagnosticul și tratamentul
              precoce al tuberculozei și tuberculozei latente.
              <br />
              <br />
              <span class="font-weight-bold">Beneficiile pentru grupul țintă:</span>
              Prin activitățile și obiectivele
              proiectului se asigură accesul persoanelor din grupul țintă la metode rapide de diagnostic, se
              îmbunătățește rata de diagnostic a cazurilor de tuberculoză sensibilă, se încurajează tratamentul
              medical și de suport al cazurilor de tuberculoză, sprijinul financiar al persoanelor sărace, precum și
              îmbunătățirea capacității sistemului sanitar de control al tuberculozei. Toate aceste obiective sunt
              aferente Strategiei Naționale de Control al Tuberculozei în România 2015-2020. Pregătirea personalului
              implicat în tratamentul tuberculozei, precum și creșterea competențelor acestora oferă o permeabilitate
              mai mare în teritoriu a serviciilor de sănătate de calitate conforme normativelor Organizației Mondiale
              a Sănătății.
            </p>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "Formular7",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
    //console.log(this.pacient)
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        header: `<div style="text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        style:`
          table.table-bordered>thead>tr>th{border:1px solid #000;}
          table.table-bordered>tbody>tr>td{border:1px solid #000;}
          table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
          table{border-collapse: collapse;} 
          .font-weight-bold {font-weight: bold;} 
          .mb-5 {margin-bottom: 2rem;}
          .header-small {font-size:12px !important;} 
          p { line-height: 1.6 !important; margin-bottom: 1rem !important; }
          .text-center {text-align: center !important;} 
          .mx-auto {margin-left: auto; margin-right: auto;} 
          .header-details {font-size: 16px !important;} 
          .vertical-middle{vertical-align: middle};
          .w-50{width: 50px !important;}
          .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
          input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
          .page-break {page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: always; break-inside: avoid; break-before: avoid;}

          `
      });
    }
  }
};
</script>

<style lang="scss" scoped>
        table.table-bordered>thead>tr>th{border:1px solid #000;}
        table.table-bordered>tbody>tr>td{border:1px solid #000;}
        table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
        table{border-collapse: collapse;} 
        input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
        .text-center {text-align: center !important;}
        .vertical-middle{vertical-align: middle};
        .w-50{width: 50px !important}
        .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
</style>