<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        
        <Header />
        <p style="text-align: right;">ANEXA 8</p>
        <br />
        <p class="font-weight-bold text-center">
          Formularul de înregistrare individuală a participanților
          <br />la
          operațiunile finanțate prin POCU 2014-2020
        </p>
      
        <br />
        <br />
        <table>
          <tr>
            <td width="25%">
              <label class="font-weight-bold long-label">Cod SMIS proiect:</label>117426
              </td>
          </tr>
          <tr>
            <td>
              <label class="font-weight-bold long-label">Axă prioritară:</label>Incluziunea socială și combaterea saraciei
            </td>
          </tr>
          <tr>
            <td>
              <label class="font-weight-bold long-label">Titlu proiect:</label>Organizarea de programe de depistare precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente
            </td>
          </tr>
          <tr>
            <td>
              <label class="font-weight-bold long-label">OIR/OI responsabil:</label>Bucuresti Ilfov
              </td>
          </tr>
        </table>
        <p class="font-weight-bold section-title">
          Secțiunea A. La intrarea în operațiune

        </p>
        <table class="w-100">
          <tr>
            <td width="25%" class="vertical-text-top">
              <p class="font-weight-bold ">Date de contact</p>
            </td>
            <td>
              <p
                style="border-bottom: 1px dotted #000;"
              >{{pacient.nume}} {{pacient.prenume}} {{pacient.adresa_domiciliu}} {{pacient.adresa_resedinta}} {{pacient.telefon}} {{pacient.email}}</p>
              <!-- <small
                style="background-color: #ddd; font-style:italic;"
              >[Nume, prenume, adresa domiciliu, locul de reședință, telefon, e-mail]</small> -->
            </td>
          </tr>
        </table>
        <table class="w-100">
          <tr>
            <td width="40%">
              <p class="font-weight-bold">Data intrării în operațiune:</p>
            </td>
            <td>
              <p style="border-bottom: 1px dotted #000;">{{pacient.created_at}}</p>
            </td>
          </tr>
          <tr>
            <td width="40%">
              <p class="font-weight-bold">CNP:</p>
            </td>
            <td>
              <p style="border-bottom: 1px dotted #000;">{{pacient.cnp}}</p>
            </td>
          </tr>
        </table>
       
        <table >
          <tr>
            <td width="15%">
              <p class="font-weight-bold">Zonă:</p>
            </td>
            <td></td>
          </tr>
          <tr class="mt-5">
            <td width="15%"></td>
            <td class="d-flex align-center justify-content-between">
              Urban&nbsp;&nbsp;&nbsp;
              <img
                src="/assets/images/x-bifat.png"
                v-if="pacient.zona_domiciliu === 'Urban' || pacient.zona === 'Urban'"
              />
              <img src="/assets/images/x-gol.png" v-else />
            </td>
          </tr>
          <tr class="mt-5">
            <td width="15%"></td>
            <td class="d-flex align-center justify-content-between">
              Rural&nbsp;&nbsp;
              <img
                width="33"
                height="33"
                src="/assets/images/x-bifat.png"
                v-if="pacient.zona_domiciliu === 'Rural' || pacient.zona === 'Rural'"
              />
              <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
            </td>
          </tr>
        </table>
        <table class="page-break" >
          <tr>
            <td width="35%;">
              <p class="font-weight-bold">Localizare geografică:</p>
            </td>
            <td width="65%"></td>
          </tr>
          <tr>
            <td width="15%;"></td>
            <td>Regiune: {{pacient.regiune}}</td>
          </tr>
          <tr>
            <td width="15%;"></td>
            <td>Județ: {{pacient.judet_domiciliu}}</td>
          </tr>
          <tr>
            <td width="15%;"></td>
            <td>Unitate teritorial administrativă: {{pacient.uat}}</td>
          </tr>
        </table>
        <table class="page-margin-top">
          <tr>
            <td width="15%">
              <p class="font-weight-bold">Gen:</p>
            </td>
          </tr>
          <tr>
            <td width="15%">
              <p class="font-weight-bold"></p>
            </td>
            <td class="d-flex align-center justify-content-between">
              Masculin&nbsp;&nbsp;&nbsp;
              <img
                width="33"
                height="33"
                src="/assets/images/x-bifat.png"
                v-if="pacient.gen === 'Masculin' || pacient.gen === 'M'"
              />
              <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
            </td>
          </tr>
          <tr>
            <td width="15%"></td>
            <td class="d-flex align-center justify-content-between">
              Feminin&nbsp;&nbsp;&nbsp;
              <img
                width="33"
                height="33"
                src="/assets/images/x-bifat.png"
                v-if="pacient.gen === 'Feminin' || pacient.gen === 'F'"
              />
              <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
            </td>
          </tr>
        </table>
        <div>
          <p class="font-weight-bold">Vârsta:</p>
          <p class="d-flex align-center justify-content-between">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Persoană cu vârsta sub 25 ani&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="pacient.varsta <= 24"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>

          <p class="d-flex align-center justify-content-between">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Persoană cu vârsta cuprinsă între 25 și 54 ani&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="pacient.varsta >= 25 && pacient.varsta <= 53"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
        
          <p class="d-flex align-center justify-content-between">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Persoană cu vârsta peste 54 de ani&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="pacient.varsta >= 54"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
        </div>
        <br />
        <p>
          <span class="font-weight-bold">Categoria de Grup Țintă din care face parte:</span>
          {{pacient.informatii_generale.categorie_grup_tinta}}
        </p>
        <br />
        <div >
          <p class="font-weight-bold">Situația pe piața forței de muncă persoană ocupată</p>
          <div style="margin:auto">
            <p v-for="s in sit" :key="slugify(s)" class="d-flex align-center justify-content-between">
              {{ s }}&nbsp;&nbsp;&nbsp;
              <br />
              <img
                width="33"
                height="33"
                src="/assets/images/x-bifat.png"
                v-if="slugify(s) === pacient.informatii_generale.statutul_pe_piata_muncii"
              />
            
              <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
              
            </p>
          </div>
        </div>
        <div class="page-break">
          <p class="font-weight-bold">Nivel de educație:</p>
          <p
            v-for="s in educatie"
            :key="slugify(s)"
            class="d-flex align-center justify-content-between"
          >
            {{ s }}&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="slugify(s) === pacient.informatii_generale.nivelul_studiilor"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
        </div>
        <div class="page-margin-top">
          <p class="font-weight-bold">Persoană dezavantajată:</p>
          <p class="d-flex align-center justify-content-between">
            DA&nbsp;&nbsp;&nbsp;
            <br />

            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="'DA'=== pacient.informatii_generale.persoana_dezavantajata || 'Da'=== pacient.informatii_generale.persoana_dezavantajata"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
          <p class="d-flex align-center justify-content-between">
            NU&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="'NU' === pacient.informatii_generale.persoana_dezavantajata || 'Nu'=== pacient.informatii_generale.persoana_dezavantajata"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
          <p
            v-for="dz in persoana_dezavantajata"
            class="d-flex align-center justify-content-between"
            :key="slugify(dz)"
          >
            {{ dz }}&nbsp;&nbsp;&nbsp;
            <br />
            <img
              width="33"
              height="33"
              src="/assets/images/x-bifat.png"
              v-if="pacient.informatii_generale.p_d_extra === slugify(dz.toLowerCase())"
            />
            <img width="33" height="33" src="/assets/images/x-gol.png" v-else />
          </p>
        </div>
        <br />
        <div >
          <table class="w-100">
            <tr>
              <td width="50%">
                Semnătura participant
                <br />participanților
                <br />..............................
                <br />
                <br />Data:
                <br />..............................
                <br />
                <br />
              </td>
              <td width="50%" class="text-right">
                Semnătura responsabil cu înregistrarea
                <br />..............................
                <br />
                <br />Data:
                <br />..............................
                <br />
                <br />
              </td>
            </tr>
          </table>
          <div >
            <p class="font-size-small underline background-grey">
                Notă: Prin completarea și semnarea acestui formular vă exprimați consimțământul cu privire la
                utilizarea și prelucrarea datelor personale.
             
            </p>
            <p class="font-size-small italic background-grey">
                Datele dumneavoastră personale, înregistrate/colectate în cadrul derulării proiectelor POCU, nu sunt
                prelucrate în niciun alt scop în afară de cele menționate în Formularul de înregistare individuală și nu
                sunt comunicate către niciun terț, excepție făcând doar instituțiile/autoritățile publice, conform
                prevederilor legale în vigoare.
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";
import slugify from "slugify";
export default {
  name: "Formular3",
  components: { Header },
  data() {
    return {
      pacient: {},
      slugify,
      educatie: [
        "Studii Educație timpurie (ISCED 0)",
        "Studii primare (ISCED 1)",
        "Studii gimnaziale (ISCED 2)",
        "Studii liceale (ISCED 3)",
        "Studii postliceale (ISCED 4)",
        "Studii superioare (ISCED 5)",
        "Studii superioare (ISCED 6)",
        "Studii superioare (ISCED 7)",
        "Studii superioare (ISCED 8)",
        "fără ISCED"
      ],
      sit: [
        "Angajat",
        "Angajat pe cont propriu",
        "Șomer",
        "Șomer de lungă durată",
        "Persoană inactivă (inclusiv copii antepreșcolari, preșcolari, elevi etc.)",
        "Alta categorie de inactivi în afara de cei din educație și formare"
      ],
      persoana_dezavantajata: [
        "Participanți care trăiesc în gospodării fără persoane ocupate",
        "Participanți care trăiesc în gospodării fără persoane ocupate cu copii aflați în întreținere",
        "Participanți care trăiesc în gospodării alcătuite dintr-un părinte unic cu copii aflați în întreținere",
        "Migranți",
        "Participanți de origine străină",
        "Minorități",
        "Etnie romă",
        "Alta minoritate decât cea de etnie romă",
        "Comunități marginalizate",
        "Participanți cu dizabilități",
        "Alte categorii defavorizate",
        "Persoane fără adăpost sau care sunt afectate de excluziunea locativă",
        "Niciuna din opțiunile de mai sus"
      ]
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        header: `<div style="position: fixed; top: -55px; text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        style:`
          .underline{text-decoration: underline;}
          .italic{font-style: italic;}
          .font-size-small{font-size:10px !important}
          * { font-size: 16px !important } 
          .vertical-text-top{ vertical-align: text-top;}
          .w-input{ width: 160px;}
          .page-margin-top{margin-top:120px !important;}
          #printable-section { padding-top:120px !important;padding-left: 0px; padding-right: 0px; padding-bottom:0 !important} 
          .font-weight-bold {font-weight: bold;} 
          .mt-5 {margin-top: 5px !important;} 
          .header-small {font-size:15px !important;} 
          p { margin: 0 !important; padding: 0 !important; line-height: 1.6; } 
          .font-weight-bold { font-weight:600;} 
          .text-right{text-align:right}
          .text-center {text-align: center !important;} 
          .mx-auto {margin-left: auto; margin-right: auto;} 
          .header-details {font-size: 16px !important;} 
          .long-label{width: 200px;}
          input { border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
          .header .font-weight-bold {font-size: 15px !important;} 
          .card-body{margin:20px}  
          .w-100{width:100%}
          table.table-bordered>tbody>tr>td{border:1px solid #000;}
          table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
          table{border-collapse: collapse;} 
          .background-grey{background-color: #dddddd;}
          .flex-column{ flex-direction: column;}
          .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
          .align-top{ align-items:flex-start;}
          .page-break {page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: always; break-inside: avoid; break-before: avoid;}
          .page-break-only-top{page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: avoid; break-inside: avoid; break-before: avoid;}
          .section-title{text-decoration: underline; padding: 5px 0;}
          .header-small{font-style:italic}
          
          `
      });       
    }
  }
};
</script>

<style lang="scss" scoped>
.underline{text-decoration: underline;}
.italic{font-style: italic;}
           * { font-size: 18px !important } 
          .vertical-text-top{ vertical-align: text-top;}
          .w-input{ width: 160px;}
          #printable-section { padding-left: 60px; padding-right: 60px; } 
          .font-weight-bold {font-weight: bold;} 
          .mt-5 {margin-top: 5px !important;} 
          .header-small {font-size:15px !important;} 
          p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 18px !important; } 
          .font-weight-bold { font-weight:600;} 
          .text-center {text-align: center !important;} 
          .mx-auto {margin-left: auto; margin-right: auto;} 
          .header-details {font-size: 16px !important;} 
          input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
          .header .font-weight-bold {font-size: 15px !important;} 
          .card-body{margin:20px}  
          table.table-bordered>tbody>tr>td{border:1px solid #000;}
          table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
          table{border-collapse: collapse;} 
          .flex-column{ flex-direction: column;}
          .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
          .align-top{ align-items:flex-start;}
          .long-label{width: 200px;}
          .page-break {page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: always; break-inside: avoid; break-before: avoid;}
          .page-break-only-top{page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: avoid; break-inside: avoid; break-before: avoid;}
</style>