<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <div>
          <p class="font-weight-bold text-center text-underlined">
            ANEXA LA ACORD DE FOLOSIRE A IMAGINII ȘI
            DECLARAȚIILOR
          </p>
          <br />
          <p>
            Proiectul
            <span
              class="font-weight-bold"
            >”Organizarea de programe de depistare precoce (screening), diagnostic si tratament precoce altuberculozei, inclusiv al tuberculozei latente”</span>,
            Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426) este implementat de următorii
            parteneri-operatori de date cu caracter personal:
            <br />
            <br />- Institutul de Pneumoftiziologie ”Marius Nasta” București în parteneriat cu: Asociația Română Anti-Sida
            (ARAS), Fundația Centrul pentru Politici și Servicii de Sănătate, Fundația Romanian Angel Appeal,
            Federația Uniunea Națională a Organizațiilor Persoanelor Afectate de HIV/SIDA (UNOPA), Asociația pentru
            Sprijinirea Pacienților cu Tuberculoză Multidrog-Rezistentă (ASPTMR) și SAMUSOCIAL din România
            (Serviciul de Ajutor Mobil de Urgenţă Socială), în perioada martie 2018 - februarie 2023.
            <br />
            <br />
            <span class="font-weight-bold">Scopul și obiectivele proiectului:</span> Promovarea incluziunii sociale,
            combaterea sărăciei și a oricărei forme de discriminare, prin creșterea accesului la servicii
            accesibile, durabile și de înaltă calitate, inclusiv asistență medicală și servicii sociale de interes
            general, prin organizarea de programe de sănătate și servicii orientate către prevenirea, depistarea
            precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente,
            pentru 75010 persoane aparținând grupurilor vulnerabile, inclusiv derularea de activități de sprijin și
            asistență, inclusiv subvenții, pentru 15003 persoane din grupurile vulnerabile, completate de activități
            de informare, educare si conștientizare a grupului ținta, precum si prin organizarea de programe de
            formare pentru 560 de persoane în vederea asigurării unui nivel de competențe îmbunătățit al
            profesioniștilor implicați în prevenirea, depistarea precoce (screening), diagnosticul și tratamentul
            precoce al tuberculozei și tuberculozei latente.
            <br />
            <br />
            <span class="font-weight-bold">Beneficiile pentru grupul țintă:</span>
            Prin activitățile și obiectivele
            proiectului se asigură accesul persoanelor din grupul țintă la metode rapide de diagnostic, se
            îmbunătățește rata de diagnostic a cazurilor de tuberculoză sensibilă, se încurajează tratamentul
            medical și de suport al cazurilor de tuberculoză, sprijinul financiar al persoanelor sărace, precum și
            îmbunătățirea capacității sistemului sanitar de control al tuberculozei. Toate aceste obiective sunt
            aferente Strategiei Naționale de Control al Tuberculozei în România 2015-2020. Pregătirea personalului
            implicat în tratamentul tuberculozei, precum și creșterea competențelor acestora oferă o permeabilitate
            mai mare în teritoriu a serviciilor de sănătate de calitate conforme normativelor Organizației Mondiale
            a Sănătății.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "Formular7",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        header: `<div style="text-align: center;"><img src="/assets/images/header.png" height="80px style="margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><br/><br/><img src="/assets/images/footer.png" height="80px style="margin-top: 50px;" /></div>`,
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1.6; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; }"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  border-bottom: 1px solid red !important;
  font-weight: bold;
}
</style>