<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body" id="printable-section">
        <p class="font-weight-bold text-center">CHESTIONAR DE COLECTARE DATE MEDICALE</p>
        <br />
        <br />
        <div class="py-5 d-flex">
          Nume: {{pacient.nume}}
          Prenume: {{pacient.prenume}}
          Varsta:{{pacient.varsta}}
          CNP: {{pacient.cnp}}
        </div>
        <div class="py-5 d-flex">
          Domiciliul legal: Județul {{pacient.judet_domiciliu || pacient.judet}},
          Localitatea {{pacient.oras_domiciliu || pacient.oras}},
          Adresa {{pacient.adresa_domiciliu}}
        </div>
        <div class="py-5 d-flex">
          Domiciliul real: Județul {{pacient.judet_resedinta || pacient.judet}},
          Localitatea {{pacient.oras_resedinta || pacient.oras}},
          Adresa {{pacient.adresa_resedinta || pacient.adresa_domiciliu}}
        </div>
        <div class="py-5 d-flex">
          <span>Sex: </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'Masculin' === pacient.gen"/> Masculin 
            <input type="checkbox" :checked = "'Feminin' === pacient.gen" /> Feminin
          </div>
        </div>
        <div class="d-flex">
          <div>Înălțime
          {{pacient.informatii_generale.inaltime}} m
          </div>
          <div class="ml-5">
          Greutate
          {{pacient.informatii_generale.greutate}} kg
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Mediu: </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'Rural' === pacient.zona_domiciliu || 'Rural' === pacient.zona"/> Rural 
            <input type="checkbox" :checked = "'Urban' === pacient.zona_domiciliu || 'Urban' === pacient.zona" /> Urban
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Status marital: </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'Casatorit / Concubinaj' === pacient.informatii_generale.chestionar.status_marital"/> Căsătorit/Concubinaj 
            <input type="checkbox" :checked = "'Singur' === pacient.informatii_generale.chestionar.status_marital" /> Singur
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Status asigurat: </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.status_asigurat"/> Da 
            <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.status_asigurat"/> Nu
          </div>
        </div>
        <div class="py-5">
          Medic de familie (nume, prenume, telefon, adresa):
          {{pacient.informatii_generale.chestionar.medic}}
        </div>
        <div class="py-5">
          Cu câte persoane locuiți în aceeași casă (spațiu, apartament)? {{pacient.informatii_generale.chestionar.colocatari}}
        </div>
        <div class="py-5">
          Ocupația: 
          {{pacient.informatii_generale.chestionar.ocupatia}}
        </div>
        <div class="py-5">
          Locul de muncă: 
          {{pacient.informatii_generale.chestionar.locul_de_munca}}
        </div>
        <div class="py-5 d-flex">
          <span>Ați avut vreodată tuberculoză? </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Da 
            <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Nu
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Sunteți în prezent în tratament pentru tuberculoză? </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Da 
            <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Nu
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Are sau a avut cineva din familie tuberculoză? </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Da 
            <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Nu
          </div>
        </div>
        <div class="py-5 d-flex">
          <span>Are sau a avut cineva dintre cunoscuți tuberculoză? </span>
          <div class="ml-auto mr-5">
            <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Da 
            <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.aavt"/> Nu
          </div>
        </div>
        <div class="py-5 d-flex flex-column">
          <span class="font-weight-bold">Sunteți: </span>
          <div class="py-5 d-flex">
            <span>Fumator</span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.s_f"/> Da 
              <input type="checkbox" :checked = "'nu' === pacient.informatii_generale.chestionar.raspunsuri.s_f"/> Nu
              <input type="checkbox" :checked = "'fost' === pacient.informatii_generale.chestionar.raspunsuri.s_f"/> Fost
            </div>
          </div>
          <div class="py-5 d-flex">
            <span>Consumator alcool</span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'uneori' === pacient.informatii_generale.chestionar.raspunsuri.s_cda"/> Uneori 
              <input type="checkbox" :checked = "'zilnic' === pacient.informatii_generale.chestionar.raspunsuri.s_cda"/> Zilnic
              <input type="checkbox" :checked = "'nu' === pacient.informatii_generale.chestionar.raspunsuri.s_cda"/> Nu
            </div>
          </div>
          <div class="py-5 d-flex">
            <span>Consumator de droguri</span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.s_cdd"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.s_cdd"/> Nu
            </div>
          </div>
        </div>
        <div class="py-5 d-flex flex-column">
          <span class="font-weight-bold">Aveți: </span>
          <div class="py-5 d-flex">
            <span>Tuse</span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_tuse"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_tuse"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex">
            <span> Expectorație (spută) </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_e"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_e"/> Nu
            </div>
          </div>
          
          <div class="py-5 d-flex">
            <span> Hemoptizie (sânge în spută) </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_h"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_h"/> Nu
            </div>
          </div>
          
          <div class="py-5 d-flex">
            <span>Durere în piept/spate</span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_dip"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_dip"/> Nu
            </div>
          </div>
          
          <div class="py-5 d-flex">
            <span>Respirație grea </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_rg"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_rg"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex">
            <span>Scăderea poftei de mâncare </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_spdm"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_spdm"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex">
            <span>Scădere în greutate </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_sig"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_sig"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex">
            <span>Oboseală </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_o"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_o"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex">
            <span>Transpirații </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.a_trans"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.a_trans"/> Nu
            </div>
          </div>
          
          <div class="py-5 d-flex">
            Altele&nbsp;
            <input type="text" class="form-input" :value = "pacient.informatii_generale.chestionar.raspunsuri.a_altele">
          </div>

          <div class="py-5 d-flex flex-column">
            <div class="d-flex">
              <span>Boli cunoscute? </span>
              <div class="ml-auto mr-5">
                <input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra"/> Da 
                <input type="checkbox" :checked = "!pacient.informatii_generale.chestionar.raspunsuri.bc_extra"/> Nu
              </div>
            </div>
            <div class="py-5 d-flex flex-column" v-if="pacient.informatii_generale.chestionar.raspunsuri.bc_extra">
              <div class=" px-10 justify-content-between">
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Cancer pulmonar')"/> Cancer pulmonar </div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Alt tip de cancer')"/> Alt tip de cancer</div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Boli reumatice')"/> Boli reumatice </div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('HIV')"/> HIV</div>
              </div>
              <div class="px-10 justify-content-between">
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Hepatită în tratament/fără tratament')"/> Hepatită în tratament/fără tratament </div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('HTA')"/> HTA</div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Diabet')"/> Diabet </div>
                <div><input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Ulcer')"/> Ulcer</div>
              </div>
              <div class="px-10">
                <input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('AVC')"/> AVC
                <input type="checkbox" :checked = "pacient.informatii_generale.chestionar.raspunsuri.bc_extra.includes('Boli psihice')"/> Boli psihice
                
              </div>
            </div>
          </div>

          <div class="py-5 d-flex">
            <span>Tratamente pe care le luați de multă vreme? </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.tpclldmv"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.tpclldmv"/> Nu
            </div>
          </div>

          <div class="py-5 d-flex" v-if="pacient.informatii_generale.chestionar.raspunsuri.tpclldmv">
            Ce anume?&nbsp;
            <input type="text" class="form-input" :value = "pacient.informatii_generale.chestionar.raspunsuri.tpclldmv_extra">
          </div>

          <div class="py-5 d-flex">
            <span>Sunteți însărcinată? </span>
            <div class="ml-auto mr-5">
              <input type="checkbox" :checked = "'da' === pacient.informatii_generale.chestionar.raspunsuri.si"/> Da 
              <input type="checkbox" :checked = "'da' != pacient.informatii_generale.chestionar.raspunsuri.si"/> Nu
            </div>
          </div>
          <div class="py-5 d-flex flex-column">
            <span>În cazul în care apar modificări radiologice în urma screening-ului, cum doriți să vă fie transmis rezultatul? </span>
            <div class="py-5 px-10 justify-content-between p-0">        
              <div class="d-flex align-center">
                <input type="checkbox"/><span class="nowrap">&nbsp;Telefon&nbsp;</span><input type="text" class="form-input" :value = "pacient.telefon">
              </div>
              <div class="d-flex align-center">
                <input type="checkbox"/><span class="nowrap">&nbsp;Adresa mail&nbsp;</span><input type="text" class="form-input" :value = "pacient.email">
              </div>
            </div>
            <div class="py-5">
              <input type="checkbox"/>&nbsp;Medic de familie&nbsp;{{pacient.informatii_generale.chestionar.medic}}
            </div>
            <div class="py-5">
              <input type="checkbox"/>&nbsp;Poștă (adresa):&nbsp;{{ pacient.informatii_generale.adresa_domiciliu}}
            </div>
            <div class="py-5">
              <input type="checkbox"/>&nbsp;Altele:&nbsp;<input type="text" class="form-input" />
            </div>
          </div>
          <div class="py-5 px-10 justify-content-between">
          <div>
            Data 
            <br />
            ............................................
          </div>
          <div>
            Semantura 
            <br />
            ............................................
          </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "Formular8",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
      this.pacient = this.$route.query.pacient;
   

  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
         header: `<div style="text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        style:`
          * { font-size: 18px !important } 

          .align-center:
          .vertical-text-top{ vertical-align: text-top;}
          .w-input{ width: 160px;}
          #printable-section { padding-left: 60px; padding-right: 60px; } 
          .font-weight-bold {font-weight: bold;} 
          .mt-7 {margin-top: 5px !important;} 
          .header-small {font-size:15px !important;} 
          p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 18px !important; } 
          .font-weight-bold { font-weight:600;} 
          .text-center {text-align: center !important;} 
          .mx-auto {margin-left: auto; margin-right: auto;} 
          .header-details {font-size: 16px !important;} 
          input.form-input{  border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important} 
          .header .font-weight-bold {font-size: 15px !important;} 
          .card-body{margin:20px}  
          table.table-bordered>tbody>tr>td{border:1px solid #000;}
          table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
          table{border-collapse: collapse;} 
          .flex-column{ flex-direction: column;}
          .px-10{padding: 0 10px;}
          .justify-content-between{ align-items: center; flex: 1; display: flex;  justify-content: space-between;}
          .align-top{ align-items:flex-start;}
          .page-break {page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: always; break-inside: avoid; break-before: avoid;}
          .page-break-only-top{page-break-after: always; page-break-inside: avoid; page-break-before: avoid; break-after: avoid; break-inside: avoid; break-before: avoid;}
          .mr-5{ margin-right:100px;  }
          .ml-auto{ margin-left:auto; }
          .nowrap{ white-space:nowrap }
          .p-0{ padding:0 }
          .py-5{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
          }
          .d-flex{display:flex}.flex-1{flex:1}

          .ml-5{margin-left:100px;}
          `
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  * { font-size: 18px !important } 
  .w-input{
    flex: 1;
    margin: 0 10px;}
  #printable-section { padding-left: 60px; padding-right: 60px; } 
  .font-weight-bold {font-weight: bold;} 
  .mt-7 {margin-top: 7px !important;} 
  .ml-10{ margin-left: 10px;}
  .header-small {font-size:15px !important;} 
  p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 19px !important; } 
  .font-weight-bold { font-size: 21px !important;} 
  .text-center {text-align: center !important;} 
  .mx-auto {margin-left: auto; margin-right: auto;} 
  .header-details {font-size: 16px !important;} 
  input.form-input{  border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important} 
  .header .font-weight-bold {font-size: 15px !important;} 
  .card-body{margin:20px}  
  table.table-bordered>tbody>tr>td{border:1px solid #000;}
  table.table-bordered>tbody>tr>td .form-input{ width: 100%; border-left:none }
  .flex-column{ flex-direction: column;}
   .px-10{padding: 0 10px;}
  .justify-content-between{
    align-items: center; flex: 1;   display: flex;
    justify-content: space-between;}
  table{border-collapse: collapse;} 
  .w-full{width: 100%;}
  .align-top{
    align-items: flex-start;
  }
  .align-center{
    align-items: center;
  }
  .py-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .nowrap{ white-space:nowrap }
  .d-flex{display:flex}.flex-1{flex:1}
</style>