<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />
        <p class="font-weight-bold text-center">PROCES VERBAL DE PREDARE-PRIMIRE</p>
        <p>
          Încheiat între:
          <br />
          <br />
          <span class="font-weight-bold">TURA Nr. 1 – Caravana cu nr. de inmatriculare</span>
          <input type="text" class="form-input" v-model="numarCaravana" />, reprezentata prin echipa compusa din:
          <br />1- Responsabil logistica-conducator auto:
          <input type="text" class="form-input" />
          <br />2- Radiolog de serviciu in cadrul caravanei:
          <input type="text" class="form-input" />
          <br />3- Registrator medical:
          <input type="text" class="form-input" />
          <br />
          <br />Si
          <br />
          <br />
          <span
            class="font-weight-bold"
          >TURA Nr. 2 – Caravana cu nr. de inmatriculare (acelasi numar)</span>
          <input type="text" v-model="numarCaravana" class="form-input" /> , reprezentata prin echipa compusa din:
          <br />1- Responsabil logistica-conducator auto:
          <input type="text" class="form-input" />
          <br />2- Radiolog de serviciu in cadrul caravanei:
          <input type="text" class="form-input" />
          <br />3- Registrator medical:
          <input type="text" class="form-input" />
          <br />Prin care s-a procedat la predarea-primirea turei de lucru si a bunurilor care fac obiectul activitatii caravanelor, conform anexei din prezentul process verbal de predare-primire.
          <br />
          <br />Mentionam ca primitorii isi asuma toata responsabilitatea pentru bunurile primite, pe intreaga durata in care acestea se afla in gestiunea lor.
          <br />
          <br />
        </p>

        <table border="0" cellspacing="0" cellpadding="0" width="647">
          <tbody>
            <tr>
              <td>
                <p align="center">
                  <br />
                  <br />
                  <b>INVENTAR</b>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">
                  <b>Data</b>
                </p>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">
                  <b>Crt</b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b>Denumire bunurilor inventariate</b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b>Cod</b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b>U/M</b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b>Cantitate</b>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
              <td>
                <p align="center">
                  <b></b>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">1</p>
              </td>
              <td>
                <p>Lampa semnalizare optica</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">2</p>
              </td>
              <td>
                <p>Geanta scule cu patent, surubelnite, chei fixe</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">3</p>
              </td>
              <td>
                <p>Trusa prim ajutor</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">4</p>
              </td>
              <td>
                <p>Triunghi reflectorizant</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">5</p>
              </td>
              <td>
                <p>Cric hidraulic</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">6</p>
              </td>
              <td>
                <p>Cheie roti</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">7</p>
              </td>
              <td>
                <p>Cheie masina</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">8</p>
              </td>
              <td>
                <p>Cheie acces usa caravana Rx</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">9</p>
              </td>
              <td>
                <p>Cheie usa generator</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">10</p>
              </td>
              <td>
                <p>Cheie radio si cod de securitate</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">11</p>
              </td>
              <td>
                <p>Manual radio</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">12</p>
              </td>
              <td>
                <p>Manual utilizare auto</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">13</p>
              </td>
              <td>
                <p>chiuveta</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">14</p>
              </td>
              <td>
                <p>baterie automata</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">15</p>
              </td>
              <td>
                <p>canistra cu capac apa curata 14 l</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">16</p>
              </td>
              <td>
                <p>canistra cu capac apa menajera 16 l</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">17</p>
              </td>
              <td>
                <p>dispenser sapun medicinal</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">18</p>
              </td>
              <td>
                <p>pompa submersibila 12V</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">19</p>
              </td>
              <td>
                <p>Tablou electric general</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">20</p>
              </td>
              <td>
                <p>Panou automatizare si control generator de curent GENMAC</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">21</p>
              </td>
              <td>
                <p>Inverter 12V-220V</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">22</p>
              </td>
              <td>
                <p>Baterii 12V-220Ah, cu gel</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">23</p>
              </td>
              <td>
                <p>Cablu alimentatre exterior cu fisa 32 A-23ml</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">24</p>
              </td>
              <td>
                <p>Cablu de impamantare cu sistem de fixare-21ml</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">25</p>
              </td>
              <td>
                <p>Fisa tata 32 A, monofazica</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">26</p>
              </td>
              <td>
                <p>Electrod impamantare</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">5</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">27</p>
              </td>
              <td>
                <p>Platbanda cupru rigida 20x10ml</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">28</p>
              </td>
              <td>
                <p>Tija paratraznet</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">29</p>
              </td>
              <td>
                <p>Soclu si suport de lipit paratraznet</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">4</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">30</p>
              </td>
              <td>
                <p>Sfredel</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">31</p>
              </td>
              <td>
                <p>Instalatie de climatizare si incalzire cu telecomanda</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">32</p>
              </td>
              <td>
                <p>
                  Element suplimentar de incalzire (convector Floria ZLN,
                  450W),
                </p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">33</p>
              </td>
              <td>
                <p>Detector de fum wireless</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">34</p>
              </td>
              <td>
                <p>Camera supraveghere ip wireless</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">35</p>
              </td>
              <td>
                <p>sirena</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">36</p>
              </td>
              <td>
                <p>senzori de perimetru</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">37</p>
              </td>
              <td>
                <p>unitate centrala de alarmare</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">38</p>
              </td>
              <td>
                <p>alimentator 220V</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">39</p>
              </td>
              <td>
                <p>
                  Router wireless 3G/4G SIM Dual Band cu Adaptor Dual card
                  memorie SD
                </p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">40</p>
              </td>
              <td>
                <p>APARAT DE RADIOLOGIE DIGITAL PEDS 600</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">41</p>
              </td>
              <td>
                <p>Generator de inalta frecventa 50 kHz/150Kv</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">42</p>
              </td>
              <td>
                <p>Detector plat digital</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">43</p>
              </td>
              <td>
                <p>Incarcator acumulatori</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">44</p>
              </td>
              <td>
                <p>Acumulatori pentru flatpanel</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">45</p>
              </td>
              <td>
                <p>Tub Rx</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">46</p>
              </td>
              <td>
                <p>Stand bucky</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">47</p>
              </td>
              <td>
                <p>colimator</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">48</p>
              </td>
              <td>
                <p>DAP-meter</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">49</p>
              </td>
              <td>
                <p>Laptop notebook</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">50</p>
              </td>
              <td>
                <p>Software achizitie de imagine Conaxx</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">51</p>
              </td>
              <td>
                <p>Monitor LED Acer 21,5 inch, Wide</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">52</p>
              </td>
              <td>
                <p>Monitor medical Eizo</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">53</p>
              </td>
              <td>
                <p>Unitate PC</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">54</p>
              </td>
              <td>
                <p>Mouse</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">55</p>
              </td>
              <td>
                <p>Tastatura</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">56</p>
              </td>
              <td>
                <p>Software prelucrare imagine Propax</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">57</p>
              </td>
              <td>
                <p>Stingator auto mic cu pulbere</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">58</p>
              </td>
              <td>
                <p>Stingator cu pulbere 1 kg</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">59</p>
              </td>
              <td>
                <p>Stingator cu pulbere P4</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">60</p>
              </td>
              <td>
                <p>Patura ignifuga</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">61</p>
              </td>
              <td>
                <p>Vesta reflectorizanta auto</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">62</p>
              </td>
              <td>
                <p>Scaun birou operator</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">63</p>
              </td>
              <td>
                <p>Scaun pliant</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">64</p>
              </td>
              <td>
                <p>Frigider</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">65</p>
              </td>
              <td>
                <p>Avizier/panou pluta dimensiuni 6xA4</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">66</p>
              </td>
              <td>
                <p>Dispenser pliante format A4</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">67</p>
              </td>
              <td>
                <p>lift hidraulic pentru persoane cu dizabilități</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">68</p>
              </td>
              <td>
                <p>Lada frigorifica 32L</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">69</p>
              </td>
              <td>
                <p>Sort Protectie</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">70</p>
              </td>
              <td>
                <p>Guler pentru Radioprotectia Glandei Tiroide</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">71</p>
              </td>
              <td>
                <p>Sort pentru Radioprotectia Gonadelor</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">2</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">72</p>
              </td>
              <td>
                <p>Dozimetru pentru Monitorizare Individuala</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">3</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">73</p>
              </td>
              <td>
                <p>Mop pentru Dezinfectarea</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">74</p>
              </td>
              <td>
                <p>Cos de Gunoi cu Capac</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">75</p>
              </td>
              <td>
                <p>
                  Galeata pentru dezinfectarea cu Solutie Clorigene a
                  Caravanei
                </p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
            <tr>
              <td>
                <p align="center">76</p>
              </td>
              <td>
                <p>Detergent Curatare Pardoseala</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">77</p>
              </td>
              <td>
                <p>Saci de Gunoi</p>
              </td>
              <td></td>
              <td>
                <p align="center">pachet 50 buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">78</p>
              </td>
              <td>
                <p>Dezinfectant pentru suprafata de lucru</p>
              </td>
              <td></td>
              <td>
                <p align="center">flacon</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">79</p>
              </td>
              <td>
                <p>Masca Protectie (3M)</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">80</p>
              </td>
              <td>
                <p>Manusi de Protectie</p>
              </td>
              <td></td>
              <td>
                <p align="center">perechi</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">81</p>
              </td>
              <td>
                <p>Halat de Unica Folosinta</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">82</p>
              </td>
              <td>
                <p>Prosoape de Hartie</p>
              </td>
              <td></td>
              <td>
                <p align="center">role</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">83</p>
              </td>
              <td>
                <p>Dezinfectant pentru maini</p>
              </td>
              <td></td>
              <td>
                <p align="center">bidon</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">84</p>
              </td>
              <td>
                <p>Sapun Lichid</p>
              </td>
              <td></td>
              <td>
                <p align="center">bidon</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">85</p>
              </td>
              <td>
                <p>Detergent Curatare Pardoseala</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">86</p>
              </td>
              <td>
                <p>Masca Protectie (3M)</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p align="center">87</p>
              </td>
              <td>
                <p>Matura</p>
              </td>
              <td></td>
              <td>
                <p align="center">buc</p>
              </td>
              <td>
                <p align="center">1</p>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <br />
          <br />Observatii/ Mentiuni:
          <br />
          <textarea class="form-input"></textarea>
          <br />
          <br />Prezentul proces verbal este intocmit in 2 exemplare, cate unul pentru fiecare parte.
        </p>

        <table>
          <tr>
            <td>
              Am predat
              <br />Responsabil Logistica
              <input type="text" class="form-input" />
              <br />
              <br />Radiolog de serviciu
              <input type="text" class="form-input" />
              <br />
              <br />Registrator medical
              <input type="text" class="form-input" />
              <br />
              <br />
            </td>
            <td>
              Am primit
              <br />
              <input type="text" class="form-input" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "BiletTrimitere",
  components: { Header },
  data() {
    return {
      numarCaravana: "",
      locIntrare: "",
      // numePrenumeBeneficiar: null
    };
  },
  created() {
    // this.numePrenumeBeneficiar =
    //   this.$route.query.pacient.nume + " " + this.$route.query.pacient.prenume;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; }"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  border-bottom: 1px solid red !important;
  font-weight: bold;
}

textarea {
  border-bottom: 1px solid red !important;
  font-weight: bold;
  width: 100%;
}
</style>