<template>
  <ol class="breadcrumb" v-if="$route.meta.crumbs">
    <li
      v-for="(crumb,index) in $route.meta.crumbs"
      class="breadcrumb-item"
      :class="{ 'active': (index === $route.meta.crumbs.length - 1 )}"
      :key="index"
    >
      <router-link
        :to="{name: crumb.link, params: {id: pacient.id}}"
        v-if="crumb.link === 'pacient-date-contact' && pacient !== undefined"
      >
        <span>{{ crumb.name }} {{ pacient.nume }} {{ pacient.prenume }}</span>
      </router-link>
      <router-link
        :to="{name: crumb.link }"
        v-if="crumb.link && crumb.link !== 'pacient-date-contact'"
      >
        <i data-feather="home" v-if="crumb.name === 'Dashboard'"></i>
        <span v-else>{{ crumb.name }}</span>
      </router-link>
      <span v-if="!crumb.link">{{crumb.name}}</span>
    </li>
  </ol>
</template>

<script>
import feather from "feather-icons";
export default {
  data() {
    return {
      pacient: undefined
    };
  },
  methods: {
    getPacient() {
      this.$http({
        url: `pacients/${this.$route.params.id}`,
        method: "GET"
      }).then(
        res => {
          this.pacient = res.data.pacient;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  },
  mounted() {
    feather.replace();

    if (this.$route.params.id) {
      this.getPacient();
    }
  }
};
</script>