<template>
  <div class="page-header">
    <div class="row">
      <div class="col">
        <div class="page-header-left">
          <h3>{{ $route.meta.title }}</h3>
          <breadcrumbs />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "./Breadcrumbs";

export default {
  name: "PageHeader",
  components: { Breadcrumbs }
};
</script>