<template>
  <div class="search-form">
    <div class="form-group">
      <div class="Typeahead Typeahead--twitterUsers">
        <div class="u-posRelative">
          <input
            class="Typeahead-input form-control-plaintext"
            id="demo-input"
            type="text"
            v-model.trim="cautare"
            v-on:keyup.enter.prevent="handleSearch"
            @change="handleSearch"
            placeholder="Căutare pacient (CNP, Nume, Prenume, Telefon)"
          />
          <span class="d-sm-none mobile-search">
            <i data-feather="search"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="results text-left" v-if="pacients.length">
      <p class="font-weight-bold mb-0">Rezultate căutare:</p>
      <ul>
        <li class="list-item" v-for="pacient in pacients" :key="pacient.id">
          <router-link
            :to="{name: 'pacient-date-contact', params: {id: pacient.id}}"
            @click.native="handleClickItem"
            class="btn btn-link text-secondary"
          >CNP {{ pacient.cnp }} - {{ pacient.nume }} {{ pacient.prenume }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cautare: "",
      pacients: []
    };
  },
  methods: {
    getPacienti(search) {
      this.$http({
        url: `pacients/search`,
        method: "POST",
        data: { search }
      }).then(
        res => {
          this.pacients = res.data.pacients;
        },
        err => {
          return err;
          this.has_error = true;
        }
      );
    },
    handleSearch(ev) {
      ev.preventDefault();

      if (this.cautare !== "") {
        this.getPacienti(this.cautare);
      }

      this.pacients = [];
    },
    handleClickItem() {
        this.cautare = "";
        this.pacients = [];
    }
  }
};
</script>

<style lang="scss" scoped>
body.dark-only {
  .search-form {
    .results {
      background-color: #2f3c4e !important;
    }
  }
}
.search-form {
  position: relative;

  .results {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 9999;
    background-color: #fff;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 7px 50px 2px rgba(0,0,0,0.2);

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        a {
          padding: 0.5rem;
        }
      }
    }
  }
}
</style>