<template>
  <div class="container-fluid">
    <h2 class="mb-4">Ultimii pacienți înscriși</h2>

    <pacientsList></pacientsList>
  </div>
</template>

<script>
import pacientsList from "../components/pacients-list.vue";
export default {
  data() {
    return {
      //
    };
  },
  components: {
    pacientsList
  }
};
</script>
