<template>
  <div class="container-fluid p-0 auth-bg">
    <!-- login page start-->
    <div class="authentication-main">
      <div class="row">
        <div class="col-md-12">
          <div class="auth-innerright">
            <div class="authentication-box">
              <div class="text-center">
                <img
                  src="https://marius-nasta.ro/wp-content/themes/nasta/img/logo-marius-nasta.png"
                  alt
                />
              </div>
              <div class="card mt-4">
                <div class="card-body">
                  <div class="text-center">
                    <h4>LOGIN</h4>
                    <h6>Introdu datele tale de conectare</h6>
                  </div>
                  <form class="theme-form" autocomplete="off" @submit.prevent="login" method="post">
                    <div class="form-group">
                      <label class="col-form-label pt-0" for="email">Utilizator</label>
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        placeholder="user@marius-nasta.ro"
                        v-model="email"
                        required
                      />
                    </div>
                    <div class="form-group mb-5">
                      <label class="col-form-label" for="password">Parola</label>
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        v-model="password"
                        required
                      />
                    </div>
                    <div class="form-group form-row mt-3 mb-0">
                      <button class="btn btn-primary btn-block" type="submit">
                        <img src="../assets/login.svg" class="mr-2" /> Intră în cont
                      </button>
                    </div>
                    <div class="alert alert-danger mt-4" v-if="has_error">
                      <p class="mb-0">Erori date de conectare</p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- login page end-->
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "user@marius-nasta.ro",
      password: null,
      has_error: false
    };
  },

  mounted() {
    //
  },

  methods: {
    login() {
      // get the redirect object
      var redirect = this.$auth.redirect();
      var app = this;
      this.$auth.login({
        params: {
          email: app.email,
          password: app.password
        },
        success: function() {
          // handle redirection
          const redirectTo = redirect ? redirect.from.name : "dashboard";

          this.$router.push({ name: redirectTo });
        },
        error: function(err) {
          //console.log(err);
          app.has_error = true;
        },
        rememberMe: true,
        fetchUser: true
      });
    }
  }
};
</script>


<style lang="scss" scoped>
.login-page {
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img.logo {
    max-width: 250px;
  }

  .login-details {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20%;
    display: flex;
    align-items: center;

    label {
      font-family: "Archivo";
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
</style>
