<template>
  <div>
    <td>
      <input type="text" class="form-control" v-model="toadd.quantity" v-if="selectedProduct" />

      <div
        class="alert alert-warning p-1"
        v-if="selectedProduct && (toadd.quantity > selectedProduct.stoc)"
      >Maxim {{ selectedProduct.stoc }}</div>
    </td>
    <td>
      <button
        class="btn btn-primary"
        @click="proceedAddProduct"
        v-if="selectedProduct"
        :disabled="toadd.quantity > selectedProduct.stoc"
      >Adaugă produs ({{selectedProduct.incaravane}})</button>

      <Errors :errors="addProductErrors" v-if="addProductErrors" />
    </td>
  </div>
</template>

<script>
export default {
  props: ["selectedAddProduct", "toadd"]
};
</script>