<template>
  <nav id="main-nav">
    <!-- Sample menu definition-->
    <ul class="sm pixelstrap">
      <li
        class="tab"
        v-for="tab in tabs"
        :key="tab.slug"
        :class="{'selected': isSelected(tab), 'has-children': tab.childs}"
      >
        <router-link :to="{name: tab.fullname}" v-if="!tab.childs">
          {{ tab.name }}
          <i class="fas fa-chevron-down ml-2" v-if="tab.childs"></i>
        </router-link>

        <a href="#" v-if="tab.childs">
          {{ tab.name }}
          <i class="fas fa-chevron-down ml-2" v-if="tab.childs"></i>
        </a>
        <ul class="submenu" v-if="tab.childs !== undefined">
          <li
            v-for="child in tab.childs"
            :key="child.slug"
            :class="{'selected': isSelected(child), 'has-children': child.childs}"
          >
            <router-link :to="{name: child.fullname}">{{ child.name }}</router-link>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      selected: undefined,
      tabs: [
        {
          slug: "details",
          fullname: "admin.caravana-details",
          name: "Informatii generale"
        },
        {
          slug: "stocuri",
          fullname: "admin.caravana-stocuri",
          name: "Stocuri"
        }
      ]
    };
  },
  methods: {
    isSelected(tab) {
      let selected = false;
      if (tab.childs) {
        selected = tab.childs.find(item => item.fullname === this.$route.name);
      } else {
        selected = tab.fullname === this.$route.name;
      }

      return selected;
    }
  }
};
</script>

<style lang="scss" scoped>
.mega-menu-header .mobile-sidebar.d-none {
  display: block !important;
}
.sm,
.sm ul,
.sm li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
}
.vertical .main-header-left {
  display: block !important;
}
.vertical .page-main-header {
  margin-left: 0 !important;
  width: 100% !important;
}
.vertical
  .page-main-header
  .main-header-right
  .nav-right
  > ul
  > li:first-child {
  width: 100%;
}
.sm {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 8;
}
.sm ul {
  display: none;
}
.sm li {
  position: relative;
}
.sm > li > h1 {
  margin: 0;
  padding: 0;
}
.sm > li > h2 {
  margin: 0;
  padding: 0;
}
.sm > li > h3 {
  margin: 0;
  padding: 0;
}
.sm > li > h4 {
  margin: 0;
  padding: 0;
}
.sm > li > h5 {
  margin: 0;
  padding: 0;
}
.sm > li > h6 {
  margin: 0;
  padding: 0;
}
.sm a {
  position: relative;
  display: block;
}
.sm a.disabled {
  cursor: default;
}
.sm * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.sm *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.sm *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.sm::after {
  content: "";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  overflow: hidden;
}
.pixelstrap .mobile-back {
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}
.pixelstrap a,
.pixelstrap a:hover,
.pixelstrap a:focus,
.pixelstrap a:active {
  padding: 15px 25px;
  padding-right: 25px;
  color: #333;
  line-height: 23px;
  text-decoration: none;
}
.pixelstrap a.disabled {
  color: #d3dbfc;
}
.pixelstrap a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  left: auto;
  right: 5px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  font: bold 14px/42px monospace !important;
  text-align: center;
  text-shadow: none;
  border-radius: 4px;
}
.pixelstrap a .sub-arrow::before {
  content: "+";
}
.pixelstrap a.highlighted .sub-arrow::before {
  content: "-";
}
.pixelstrap > li:last-child > a,
.pixelstrap > li:last-child > *:not(ul) a,
.pixelstrap > li:last-child > ul,
.pixelstrap > li:last-child > ul > li:last-child > a,
.pixelstrap > li:last-child > ul > li:last-child > *:not(ul) a,
.pixelstrap > li:last-child > ul > li:last-child > ul,
.pixelstrap > li:last-child > ul > li:last-child > ul > li:last-child > a,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.pixelstrap > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul {
  border-radius: 0 0 8px 8px;
}
.pixelstrap > li:last-child > a.highlighted,
.pixelstrap > li:last-child > *:not(ul) a.highlighted,
.pixelstrap > li:last-child > ul > li:last-child > a.highlighted,
.pixelstrap > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a.highlighted,
.pixelstrap
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a.highlighted {
  border-radius: 0;
}
.pixelstrap ul {
  background: #fff;
}
.pixelstrap ul ul {
  background: rgba(171, 140, 228, 0.1);
}
.pixelstrap ul a,
.pixelstrap ul a:hover,
.pixelstrap ul a:focus,
.pixelstrap ul a:active {
  background: rgba(0, 0, 0, 0);
  color: #4466f2;
  font-size: 14px;
  text-shadow: none;
}
.pixelstrap ul a.current {
  background: #fff;
}
.pixelstrap ul a.disabled {
  color: #b3b3b3;
}
.pixelstrap ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.pixelstrap ul li:first-child {
  border-top: 0;
}
.vertical-mobile-sidebar {
  font-size: 18px;
  position: absolute;
  right: 324px;
  top: 14px;
}
@media (min-width: 1200px) {
  .page-wrapper .mega-menu-header .vertical-menu-main {
    position: absolute;
    width: auto;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    right: 314px;
  }
  .page-wrapper
    .page-main-header.mega-menu-header
    .main-header-right
    .nav-right
    > ul
    > li:first-child {
    width: 45%;
    margin: 0 auto;
    border-left: none;
    margin-left: 50px;
  }
  .mobile-back,
  .vertical-mobile-sidebar {
    display: none;
  }
  .pixelstrap ul > li > a {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
  }
  .pixelstrap ul > li > a:hover {
    line-height: 1;
  }
  .pixelstrap > li > a,
  .pixelstrap > li > a:hover,
  .pixelstrap > li > a:active {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pixelstrap ul {
    position: absolute !important;
    width: 12em;
  }
  .pixelstrap li {
    float: left;
  }
  .pixelstrap.sm-rtl li {
    float: right;
  }
  .pixelstrap ul li,
  .pixelstrap.sm-rtl ul li,
  .pixelstrap.sm-vertical li {
    float: none;
  }
  .pixelstrap a {
    white-space: nowrap;
  }
  .pixelstrap ul a,
  .pixelstrap.sm-vertical a {
    white-space: normal;
  }
  .pixelstrap .sm-nowrap > li > a,
  .pixelstrap .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }
  .pixelstrap .mobile-back {
    padding: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
  }
  .pixelstrap ul:not(.mega-menu) li a {
    padding: 13px 35px;
  }
  .pixelstrap ul:not(.mega-menu) li a:hover,
  .pixelstrap ul:not(.mega-menu) li a:focus,
  .pixelstrap ul:not(.mega-menu) li a:active {
    padding: 13px 35px;
  }
  .pixelstrap a.highlighted .sub-arrow::before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
  }
  .pixelstrap a .sub-arrow {
    position: absolute;
    top: 23px;
    margin-top: -17px;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: transparent;
  }
  .pixelstrap a .sub-arrow::before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
  }
  .pixelstrap ul {
    padding: 13px 0;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
  }
  .pixelstrap ul li a {
    padding: 13px 35px;
  }
  .pixelstrap ul li a:hover,
  .pixelstrap ul li a:focus,
  .pixelstrap ul li a:active {
    padding: 13px 35px;
  }
  .pixelstrap ul ul {
    border-radius: 4px !important;
    background: #fff;
  }
  .pixelstrap ul a {
    color: #000000;
  }
  .pixelstrap ul a:hover,
  .pixelstrap ul a:focus,
  .pixelstrap ul a:active,
  .pixelstrap ul a.highlighted {
    border: 0 !important;
    background: rgba(0, 0, 0, 0);
    color: #4466f2;
    border-radius: 0 !important;
  }
  .pixelstrap ul a:hover,
  .pixelstrap ul a:focus,
  .pixelstrap ul a:active,
  .pixelstrap ul a.highlighted {
    color: #4466f2;
  }
  .pixelstrap ul a:hover .sub-arrow,
  .pixelstrap ul a:focus .sub-arrow,
  .pixelstrap ul a:active .sub-arrow,
  .pixelstrap ul a.highlighted .sub-arrow {
    top: 50%;
    right: 15px;
    border-style: none;
  }
  .pixelstrap ul a:hover .sub-arrow:before,
  .pixelstrap ul a:focus .sub-arrow:before,
  .pixelstrap ul a:active .sub-arrow:before,
  .pixelstrap ul a.highlighted .sub-arrow:before {
    content: "\f105";
    line-height: 2.5;
    right: 5px;
    color: gray;
  }
  .pixelstrap ul a.current {
    color: #4466f2;
  }
  .pixelstrap ul a.disabled {
    color: #4466f2;
  }
  .pixelstrap ul a .sub-arrow {
    top: 50%;
    right: 15px;
    border-style: none;
  }
  .pixelstrap ul a .sub-arrow:before {
    content: "\f105";
    line-height: 2.5;
    right: 5px;
    color: gray;
  }
  .pixelstrap ul li {
    border: 0;
  }
  .pixelstrap .scroll-up,
  .pixelstrap .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  .pixelstrap .scroll-up-arrow,
  .pixelstrap .scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #4466f2 transparent;
  }
  .pixelstrap .scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #4466f2 transparent transparent transparent;
  }
  .pixelstrap.sm-rtl.sm-vertical a .sub-arrow {
    right: auto;
    left: 10px;
    border-style: none;
    border-color: transparent #5c7af4 transparent transparent;
  }
  .pixelstrap.sm-rtl > li:last-child {
    border-left: 0;
  }
  .pixelstrap.sm-rtl ul a .sub-arrow {
    right: auto;
    left: 10px;
    border-style: none;
    border-color: transparent #5c7af4 transparent transparent;
  }
  .pixelstrap.sm-vertical {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }
  .pixelstrap.sm-vertical a {
    padding: 9px 23px;
  }
  .pixelstrap.sm-vertical a .sub-arrow {
    top: 50%;
    margin-top: -5px;
    bottom: auto;
    left: auto;
    margin-left: 0;
    right: 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #5c7af4;
  }
  .pixelstrap.sm-vertical > li {
    border-left: 0 !important;
  }
  .cd-dropdown-wrapper {
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  .cd-dropdown {
    position: absolute;
    top: calc(100% - 2px);
    height: auto;
    width: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #fff;
    color: #111433;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
      -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s,
      -webkit-transform 0.3s 0s;
    z-index: 1;
  }
  .cd-dropdown .cd-dropdown-content {
    position: static;
    height: auto;
    width: 280px;
    padding-top: 0;
    overflow: visible;
  }
  .cd-dropdown
    .cd-dropdown-content
    .cd-dropdown-content
    .cd-secondary-dropdown.fade-out,
  .cd-dropdown
    .cd-dropdown-content
    .cd-dropdown-content
    .cd-dropdown-gallery.fade-out,
  .cd-dropdown
    .cd-dropdown-content
    .cd-dropdown-content
    .cd-dropdown-icons.fade-out {
    -webkit-animation: cd-fade-out 0.2s;
    animation: cd-fade-out 0.2s;
  }
  .cd-dropdown.dropdown-is-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-dropdown-content.is-hidden,
  .cd-dropdown-content div.is-hidden {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cd-dropdown-content.move-out > div > a,
  .cd-dropdown-content div.move-out > div > a {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 1200px) and (min-width: 1024px) {
  .cd-dropdown {
    position: absolute;
    top: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
      -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s,
      -webkit-transform 0.3s 0s;
  }
  .cd-dropdown.dropdown-is-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s,
      -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s,
      -webkit-transform 0.3s 0s;
  }
  .cd-dropdown-content {
    position: static;
    height: auto;
    width: 280px;
  }
  .cd-dropdown-content .cd-secondary-dropdown,
  .cd-dropdown-content .cd-dropdown-gallery,
  .cd-dropdown-content .cd-dropdown-icons {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 100%;
    height: auto;
  }
  .cd-dropdown-content .cd-secondary-dropdown.is-hidden,
  .cd-dropdown-content .cd-dropdown-gallery.is-hidden,
  .cd-dropdown-content .cd-dropdown-icons.is-hidden {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-dropdown-content > .has-children > div {
    visibility: hidden;
  }
  .cd-dropdown-content > .has-children:hover > div {
    visibility: visible;
  }
  .cd-dropdown-content
    > .has-children:hover
    > .cd-secondary-dropdown
    > div
    > div {
    visibility: visible;
  }
  .cd-dropdown-content .cd-secondary-dropdown {
    overflow: hidden;
    width: 550px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .pixelstrap > li > a {
    text-transform: uppercase;
  }
  .pixelstrap > li > a.highlighted:before,
  .pixelstrap > li > a.highlighted:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    bottom: -17px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 11;
  }
  .pixelstrap > li > a.highlighted:after {
    height: 11px;
    width: 11px;
    background-color: #ebebeb;
    z-index: -1;
  }
}
@media (max-width: 1199px) {
  .page-main-header .mega-menu-header .sm {
    right: -300px;
    left: inherit;
  }
  .page-main-header .mega-menu-header .sm li {
    display: block;
  }
  .page-main-header .main-header-right .nav-right > ul > li:first-child {
    width: 40% !important;
  }
  .mega-menu .card-body {
    padding-top: 0 !important;
  }
  .mega-menu .title {
    margin-top: 20px;
  }
  .vertical-menu-main .pixelstrap .mega-menu {
    width: 100% !important;
    max-width: 100% !important;
  }
  .pixelstrap a,
  .pixelstrap a:hover,
  .pixelstrap a:focus,
  .pixelstrap a:active {
    padding: 15px 25px;
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  .pixelstrap ul a,
  .pixelstrap ul a:hover,
  .pixelstrap ul a:focus,
  .pixelstrap ul a:active {
    color: inherit;
    font-size: 13px;
  }
}

.pixelstrap {
  background-color: #f0f5fb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  border-radius: 0;
}

.tab {
  &.selected {
    a {
      color: #05a8bd !important;
    }
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:hover {
    &.has-children {
      cursor: default;
      .submenu {
        display: block;
        list-style: none;
      }
    }
  }

  ul.submenu {
    list-style: none !important;
    position: absolute;
    top: 38px;
    z-index: 9999;
    width: 100%;
    left: 0;
    padding: 0;
    display: none;

    li {
      width: 100%;
      list-style: none !important;
      padding-left: 0;
      a {
        color: #000;

        text-align: left;
        cursor: pointer;
      }

      &.selected {
        background-color: lighten(#05a8bd, 50);
      }
    }
  }
}

body.dark-only {
  .pixelstrap {
    background-color: darken(#193f43, 5) !important;
  }
  .tab.selected {
    background-color: #2f3c4e !important;
  }
}
</style>