<template>
  <div class="card" v-if="caravana">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Stoc caravana {{ caravana.id }}</h5>
      <button class="btn btn-secondary mb-4" @click="handleAddRow">Adaugă produs</button>
    </div>
    <div v-if="addProduct">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Denumire produs</th>
            <th>Categorie</th>
            <th>UM</th>
            <th>Cantitate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-if="!selectedProduct">
              <multiselect
                v-model="selectedProduct"
                :options="productsArray"
                placeholder="Alege produs"
                label="denumire"
                track-by="denumire"
                :allow-empty="false"
                :multiple="false"
              ></multiselect>
            </td>
            <td v-else>
              <input
                type="text"
                class="form-control disabled"
                :value="selectedProduct.denumire"
                v-if="selectedProduct"
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control disabled"
                :value="selectedProduct.categorie"
                v-if="selectedProduct"
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control disabled"
                v-model="selectedProduct.um"
                v-if="selectedProduct"
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                v-model="toadd.quantity"
                v-if="selectedProduct"
              />

              <div
                class="alert alert-warning p-1"
                v-if="selectedProduct && (toadd.quantity > selectedProduct.maximum)"
              >Maxim {{ selectedProduct.maximum }}</div>
            </td>
            <td>
              <button
                class="btn btn-primary"
                @click="proceedAddProduct"
                v-if="selectedProduct"
                :disabled="toadd.quantity > selectedProduct.maximum"
              >Adaugă produs</button>

              <Errors :errors="addProductErrors" v-if="addProductErrors" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" v-if="!loading">
      <datatable
        :columns="columns"
        :data="caravana.produse"
        class="table table-hover table-bordered"
      ></datatable>
    </div>
    <div class="table-responsive p-5" v-if="loading">
      <i class="fas fa-spinner fa-spin fa-2x"></i>
    </div>
  </div>
</template>

<script>
import ProductRow from "./ProductRow";
import Errors from "../Errors";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      caravana: undefined,
      selectedProduct: undefined,
      productsArray: [],
      cautare: null,
      toadd: {},
      loading: true,
      addProduct: false,
      addProductErrors: false,
      columns: [
        { label: "Denumire produs", field: "details.denumire" },
        { label: "Categorie", field: "details.categorie" },
        { label: "UM", field: "details.um" },
        {
          label: "Cantitate",
          representedAs: ({ quantity, product_id, caravana_id }) => {
            const stocSpan =
              quantity > 0
                ? `<span>${quantity}</span>`
                : `<span class="badge badge-danger">${quantity}</span>`;

            return `<div class="d-flex justify-content-between align-items-center px-4">${stocSpan} <i class="fas fa-plus-circle text-success" onclick="window.EventBus.$emit('update-stoc',{product_id: ${product_id}, caravana_id: ${caravana_id}})"></i></div>`;
          },
          interpolate: true
        }
      ]
    };
  },
  components: { ProductRow, Errors },
  methods: {
    async handleUpdateStoc({ caravana_id, product_id }) {
      const { value: quantity } = await Swal.fire({
        title: "Adauga produs in stoc",
        text: "Introdu cantitatea pe care vrei sa o adaugi",
        input: "number",
        showCancelButton: true,
        inputValidator: value => {
          if (!value || value <= 0) {
            return "Trebuie sa completezi o valoare >= 0.";
          }
        }
      });

      if (quantity) {
        this.$http({
          url: `info-caravana/update-stoc`,
          method: "POST",
          data: {
            caravana_id,
            product_id,
            quantity
          }
        }).then(
          res => {
            Swal.fire({
              title: "Success",
              text: "Stocul produsului a fost actualizat.",
              icon: "success"
            }).then(() => {
              return this.getCaravana();
            });
          },
          err => {
            //console.log(err);
            Swal.fire({
              title: "Eroare",
              text: err.response.data.errors.stoc[0],
              icon: "error"
            });
          }
        );
      }
    },
    handleSelect(produs) {
      this.selectedProduct = produs;
      this.selectedProduct.maximum =
        produs.stoc -
        produs.in_caravane.reduce((acc, item) => acc + item.quantity, 0);

      this.cautare = null;
    },
    proceedAddProduct() {
      this.$http({
        url: `info-caravana/store-product`,
        method: "POST",
        data: {
          ...this.toadd,
          product_id: this.selectedProduct.id,
          action_type: "add",
          caravana_id: this.caravana.id
        }
      }).then(
        res => {
          this.selectedProduct = undefined;
          this.toadd = {};
          this.addProduct = false;
          this.getCaravana();
          this.getProducts();
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Produsul a fost adaugat cu succes!"
          });
        },
        (err) => {
          this.$notify({
            group: "foo",
            title: "Eroare",
            type: "error",
            position: "bottom right",
            text: "A aparut o eroare la salvare."
          });
          this.addProductErrors = err.response.data.errors;
        }
      );
    },
    handleAddRow() {
      this.addProduct = true;
    },
    getCaravana() {
      this.loading = true;
      this.$http({
        url: `info-caravana/${this.$route.params.caravanaId}`,
        method: "GET"
      }).then(
        res => {
          this.caravana = res.data.caravana;
          this.loading = false;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getProducts() {
      this.$http({
        url: `products`,
        method: "GET"
      }).then(
        res => {
          this.productsArray = res.data.products;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  },
  created() {
    this.getCaravana();
    this.getProducts();
  },
  mounted() {
    window.EventBus.$on("update-stoc", id => this.handleUpdateStoc(id));
  }
};
</script>