<template>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <div class="card o-hidden" v-if="stocZero > 0">
          <div class="bg-danger b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center">
                <i data-feather="alert-octagon"></i>
              </div>
              <div class="media-body">
                <span class="m-0">Produse fără stoc</span>
                <h4 class="mb-0 counter">{{ stocZero }}</h4>
                <i class="icon-bg" data-feather="alert-octagon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Stoc produse</h5>
            <button class="btn btn-secondary mb-4" @click="handleAddRow">Adaugă produs</button>
          </div>
          <div class="table-responsive" v-if="addProduct">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Denumire produs</th>
                  <th>Categorie</th>
                  <th>UM</th>
                  <th>Stoc</th>
                  <th>Preț/UM</th>
                  <th>Acțiuni</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" v-model="toadd.denumire" />
                  </td>
                  <td>
                    <select v-model="toadd.categorie" class="form-control">
                      <option
                        v-for="(category, index) in categories"
                        :key="index"
                        :value="category"
                      >{{category}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="toadd.um" />
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="toadd.stoc" />
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="toadd.pret" />
                  </td>
                  <td>
                    <button class="btn btn-primary" @click="proceedAddProduct">Salvează produs</button>

                    <Errors :errors="addProductErrors" v-if="addProductErrors" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive" v-if="!loading">
            <!--  <datatable :columns="columns" :data="products" class="table table-hover table-bordered"></datatable> -->
            <v-data-table
              :headers="headers"
              :items="products"
              :expanded.sync="expanded"
              :single-expand="true"
              sort-by="id"
              class="elevation-1"
            >
              <template v-slot:item.stoc="{ item }">
                <div class="d-flex justify-content-between align-items-center px-4">
                  <span v-if="item.stoc > 0">{{ item.stoc }}</span>
                  <span class="badge badge-danger" v-else>{{ item.stoc }}</span>
                  <i class="fas fa-plus-circle text-success" @click="handleUpdateStoc(item.id)"></i>
                </div>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
              </template>
              <template v-slot:item.data-table-expand="{item}">
                <div class="div" v-if="item.caravana_formatted > 0">
                  <v-icon small @click="expandItem(item)">mdi-chevron-right</v-icon>
                </div>
              </template>
              <template v-slot:expanded-item="{ headers, item }">
                <td colspan="11">
                  <table class="table-responsive full-width table-striped">
                    <thead>
                      <tr>
                        <td>Caravana</td>
                        <td>Cantitate</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="inc in item.in_caravane" :key="inc.id">
                        <td>Caravana {{inc.caravana_id}}</td>
                        <td>{{inc.quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </template>
            </v-data-table>
          </div>

          <div class="table-responsive p-5" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";
import ProductRow from "../../components/Stocuri/ProductRow";

import feather from "feather-icons";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      categories: [
        "Consumabile",
        "Medicamente",
        "Textile",
        "Birotică",
        "Altele"
      ],
      expanded: [],
      filter: null,
      addProduct: false,
      addProductErrors: false,
      addProductSuccess: false,
      loading: true,
      gotProducts: false,
      filtered: null,
      filteredBy: "Consumabile",
      toadd: {},
      products: [],
      headers: [
        { text: "ID", value: "id" },
        {
          text: "Denumire produs",
          value: "denumire"
        },
        { text: "Categorie", value: "categorie" },
        { text: "UM", value: "um" },
        { text: "Stoc disponibil", value: "stoc" },
        { text: "In caravane", value: "caravana_formatted" },
        { text: "Pret/UM", value: "pret" },
        { text: "", value: "data-table-expand" }
      ]
    };
  },
  components: { Errors, ProductRow },
  created() {
    this.getProducts();
  },
  mounted() {
    feather.replace();
  },
  computed: {
    stocZero() {
      if (this.products.length > 0) {
        return this.products
          .filter(item => item.stoc === 0)
          .reduce(acc => acc + 1, 0);
      }
    }
  },
  methods: {
    expandItem(item) {
      if (this.expanded[0] && this.expanded[0].id === item.id) {
        this.expanded = [];
      } else {
        this.expanded = [item];
      }
    },
    async handleUpdateStoc(id) {
      const { value: quantity } = await Swal.fire({
        title: "Adauga produs in stoc",
        text: "Introdu cantitatea pe care vrei sa o adaugi",
        input: "number",
        showCancelButton: true,
        inputValidator: value => {
          if (!value || value <= 0) {
            return "Trebuie sa completezi o valoare >= 0.";
          }
        }
      });

      if (quantity) {
        this.$http({
          url: `products/update-stoc`,
          method: "POST",
          data: {
            product_id: id,
            quantity
          }
        }).then(
          res => {
            Swal.fire({
              title: "Success",
              text: "Stocul produsului a fost actualizat.",
              icon: "success"
            }).then(() => {
              return this.getProducts();
            });
          },
          err => {
            Swal.fire({
              title: "Eroare",
              text: err.response.data.errors,
              icon: "error"
            });
          }
        );
      }
    },
    handleAddRow() {
      this.addProduct = true;
    },
    filterBy(category) {
      this.filteredBy = category;
      this.filtered = this.products.filter(item => {
        return item.categorie === category;
      });
    },
    getProducts() {
      this.loading = true;
      this.$http({
        url: `products`,
        method: "GET"
      }).then(
        res => {
          this.products = res.data.products;
          this.products.forEach(element => {
            element.caravana_formatted = element.in_caravane.reduce(
              (acc, item) => item.quantity + acc,
              0
            );
          });
          this.loading = false;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    proceedAddProduct() {
      this.success = false;
      this.errors = false;
      this.$http({
        url: `products/create`,
        method: "POST",
        data: { ...this.toadd }
      }).then(
        res => {
          if (res.data.status === "success") {
            this.addProductSuccess = res.data.success;
            this.products.push(res.data.product);
            this.toadd = {};
            this.$notify({
              group: "foo",
              title: "Succes",
              type: "success",
              position: "bottom right",
              text: "Produsul a fost adaugat!"
            });
            this.addProduct = false;
          } else {
            this.addProductErrors = res.data.errors;
          }
        },
        err => {
          console.error(err.response);
          this.addProductErrors = err.response.data.errors;
        }
      );
    }
  }
};
</script>

<style lang="scss">
.fa-plus-circle {
  cursor: pointer;
}
</style>