<template>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Lista utilizatori</h5>
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on }">
                <button class="btn btn-secondary" v-on="on">Adaugă utilizator</button>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Adaugă / Modifică</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <label>Nume</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.name"
                          label="name"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          v-model="editedItem.email"
                          label="email"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Rol utilizator</label>
                        <select class="form-control" v-model="editedItem.role">
                          <option
                            v-for="(role, index) in roles"
                            :value="role.slug"
                            :key="index"
                            :selected="editedItem.roles_array && role.slug === editedItem.role"
                          >{{ role.name }}</option>
                        </select>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Parola</label>
                        <input
                          type="password"
                          class="form-control"
                          v-model="editedItem.password"
                          label="password"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <div class="row">
                    <div class="col-12" v-if="addErrors">
                      <Errors v-if="addErrors" :errors="addErrors" />
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-danger mr-2" @click="close">Revocare</button>
                      <button class="btn btn-primary" @click="save">Salvare</button>
                    </div>
                  </div>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <div class="table-responsive p-5" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>

          <v-data-table :headers="headers" :items="members" sort-by="id" class="elevation-1">
            <template v-slot:item.role="{ item }">{{roles.find(elem=>elem.id === item.role).name}}</template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon small @click="deleteItem(item)" v-if="item.id !== $auth.user().id">mdi-delete</v-icon>
            </template>
          </v-data-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";
import constants from "../../util/constants";
import feather from "feather-icons";
import Swal from "sweetalert2";
import slugify from "slugify";

export default {
  data() {
    return {
      slugify,
      roles: [],
      filter: null,
      addMembru: false,
      addErrors: false,
      addSuccess: false,
      loading: true,
      toadd: {},
      members: [],
      dialog: false,
      headers: [
        { text: "ID", value: "id" },
        { text: "Nume", value: "name" },
        { text: "Email", value: "email" },
        { text: "Rol", value: "role" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      },
      defaultItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      }
    };
  },
  components: { Errors },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getPersonal();
  },
  mounted() {
    
    feather.replace();
    this.getRoles();
    /* window.EventBus.$on("update-stoc", id => this.handleUpdateStoc(id)); */
  },
  methods: {
    handleAddRow() {
      this.addMembru = true;
    },
    getRoles(){
      this.roles = constants.roles;
      //console.log(this.roles.find(elem=>elem.id === 5));
    },
    getPersonal() {
      this.loading = true;
      this.$http({
        url: `users`,
        method: "GET"
      }).then(
        res => {
          //console.log("users", res.data.users);
          this.members = res.data.users;
          this.loading = false;
        },
        res => {
          this.addErrors = res.data.errors;
        }
      );
    },
    editItem(item) {
      this.editedIndex = this.members.indexOf(item);
      this.editedItem = Object.assign({}, item);
      if(item.roles_array){
        this.editedItem.role = item.roles_array[0] //.charAt(0).toUpperCase() + item.roles_array[0].slice(1).toLowerCase();
      }
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.members.indexOf(item);
      //console.log(item, ' -> ', this.members[index]);
      if(confirm("Esti sigur ca vrei sa stergi acest element?")){
        this.$http({
            url: `users/${item.id}`,
            method: "DELETE",
          }).then(res=>{
            //console.log(res);
            this.members.splice(index,1);
          }); 
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `users/${this.editedItem.id}`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              Object.assign(this.members[this.editedIndex], this.editedItem);
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Membrul a fost modificat!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
      } else {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `users/store`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              this.members.push(res.data.user);
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Membrul a fost adaugat!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
        // this.desserts.push(this.editedItem);
      }
    }
  }
};
</script>

<style lang="scss">
.fa-plus-circle {
  cursor: pointer;
}
</style>