<template>
  <div class="container-fluid">
    <iframe :src="`/dicom/index.html?input=${imageUrl}`" width="100%" height="800px"></iframe>
  </div>
</template>

<script>
export default {
  name: "dwv",
  data() {
    return {
      imageUrl: null
    };
  },
  created() {
    this.$http({
      url: `radiologie/view/${this.$route.params.imageUrl}`,
      method: "GET"
    }).then(
      res => {
        if (res.data.radiografie.image_url) {
          this.imageUrl = res.data.radiografie.image_url;
        }
      },
      () => {
        this.has_error = true;
      }
    );
  }
};
</script>
