<template>
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12 col-md-4">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center">
                <i data-feather="users"></i>
              </div>
              <div class="media-body">
                <span class="m-0">Pacienți înscriși</span>
                <h4 class="mb-0 counter" v-if="pacients_number === false"><i class="fas fa-spinner fa-spin"></i></h4>
                <h4 class="mb-0 counter" v-else>{{pacients_number}}</h4>
                <i class="icon-bg" data-feather="users"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center">
                <i data-feather="box"></i>
              </div>
              <div class="media-body">
                <span class="m-0">Produse cu stoc zero</span>
                <h4 class="mb-0 counter" v-if="empty_stock === false"><i class="fas fa-spinner fa-spin"></i></h4>
                <h4 class="mb-0 counter" v-else>{{empty_stock}}</h4>
                <i class="icon-bg" data-feather="box"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center">
                <i data-feather="calendar"></i>
              </div>
              <div class="media-body">
                <span class="m-0">Data următorului eveniment</span>
                <h4 class="mb-0 counter">21 MAR</h4>
                <i class="icon-bg" data-feather="calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pacientsList :limit="10"></pacientsList>
  </div>
</template>

<script>
import pacientsList from "../../components/pacients-list.vue";
import feather from "feather-icons";

export default {
  data() {
    return {
      pacients_number: false,
      empty_stock: false
    };
  },
  components: {
    pacientsList
  },
  methods: {
    getDashboardStatistics() {
      this.$http({
        url: `dashboard-statistics`,
        method: "GET"
      }).then(
        res => {
          this.pacients_number = res.data.pacients_number;
          this.empty_stock = res.data.empty_stock;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  },
  mounted() {
    feather.replace();

    //console.log(this.$auth.user());

    this.getDashboardStatistics();
  }
};
</script>

<style lang="scss" scoped>
.dashboard-widget {
  background-color: #fff;
  padding: 2rem;

  .number {
    font-family: "Archivo";
    font-size: 57px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #05a8bd;
  }
}
</style>