<template>
  <div class="container-fluid" v-if="eveniment">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="title">Eveniment Caravana {{eveniment.data_inceput}} - {{eveniment.data_sfarsit}}</h5>
        <button class="btn btn-primary" @click="handlePrint('printable-section')">
          <i class="fas fa-print"></i> Tipărește formular
        </button>
      </div>
      <div class="card-body" id="printable-section">
        <div class="row mb-5">
          <div class="col-12 mb-4">
            <p class="mb-0">PERIOADA: {{perioada.start}} - {{perioada.end}}</p>
            <p>LOCAȚIA: {{traseu}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-4">
            <div class="row member mb-4" v-for="(om,index) in eveniment.personal" :key="index">
              <div class="col-12 col-md-3">
                <div class="font-weight-bold" style="font-weight: bold;">{{ om.echipa }}</div>
              </div>
              <div class="col-12 col-md-3">
                <p class="mb-0">{{om.functie}}</p>
                <p class="font-weight-bold mb-0">{{om.nume}}</p>
                <p>
                  <span class="font-weight-bold">Telefon:</span>
                  {{om.telefon}}
                </p>
              </div>
              <div class="col-12 col-md-3">
                <p>
                  <span class="font-weight-bold">Email:</span>
                  {{om.email}}
                </p>
              </div>
              <div class="col-12 col-md-3">
                <p>
                  <span class="font-weight-bold">Fax:</span>
                  {{om.fax}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-for="(loc,index) in destinatii" :key="index">
          <div class="col-12">
            <p class="font-weight-bold">Program {{ loc.localitate.name }}, {{loc.judet.name}}</p>
            <p v-if="loc.orar" v-html="tryReplaceOrar(loc)"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <p class="mb-4">Am predat informatiile de mai sus astazi ................</p>

            <p class="mb-4">Coordonator regional</p>
            <p class="mb-4">Coordonator regional</p>
          </div>
          <div class="col-12 col-md-6">
            <p class="mb-4">Am primit informatiile de mai sus astazi ................</p>

            <p class="mb-4">Responsabil logistic</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import moment from "moment";

export default {
  data() {
    return {
      eveniment: null,
      personal: [],
      moment: moment,
      destinatii: [],
      perioada: {},
      traseu: null
    };
  },
  computed: {},
  methods: {
    getEveniment() {
      this.$http({
        url: `eveniment/${this.$route.params.evenimentId}`,
        method: "GET"
      }).then(
        res => {
          this.eveniment = res.data.eveniment;
          // this.personal = JSON.parse(this.eveniment.personal);
          this.destinatii = JSON.parse(this.eveniment.locatia);
          this.perioada = {
            start: moment(this.eveniment.data_inceput).format("DD.MM.YYYY"),
            end: moment(this.eveniment.data_sfarsit).format("DD.MM.YYYY")
          };
          this.traseu = this.destinatii
            .map(loc => {
              const days = moment(loc.perioada.end).diff(
                moment(loc.perioada.start),
                "days"
              );
              return `${loc.judet.name}, ${loc.localitate.name} (${days} zile)`;
            })
            .join(" - ");
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handlePrint(section) {
      return printJS({
        printable: section,
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} p {font-size:17px !important;}"
      });
    },
    tryReplaceOrar(loc) {
      if (loc.orar !== undefined) {
        return loc.orar.replace(/(?:\r\n|\r|\n)/g, "<br />");
      }
    }
  },
  beforeMount() {
    this.getEveniment();
  }
};
</script>

<style lang="scss" scoped>
h2 {
  span {
    font-family: "Archivo";
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #05a8bd;
  }
}

.member {
  border-bottom: 1px dashed #ccc;

  .title {
    font-family: "Archivo";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #05a8bd;
  }
}
</style>