<template>
  <div class="container-fluid" v-if="pacient !== null">
    <div>
      <pacient-navigation />
    </div>

    <div class="router-view">
      <router-view />
    </div>

    <!-- <DateContact
      v-if="selectedTab.slug === 'date-contact'"
      :pacient="pacient"
      v-on:download-fisa="downloadFisa"
    />
    <ScreeningChestionar v-if="selectedTab.slug === 'chestionar'" :pacient="pacient" />
    <ScreeningRadiologie v-if="selectedTab.slug === 'radiologie'" :pacient="pacient" />
    <ScreeningAnalize v-if="selectedTab.slug === 'analize'" :pacient="pacient" />
    <Interventii v-if="selectedTab.slug === 'interventii'" :pacient="pacient" />-->
  </div>
</template>

<script>
import slugify from "slugify";
import ScreeningChestionar from "../../components/Screening/Chestionar";
import ScreeningAnalize from "../../components/Screening/Analize";
import DateContact from "../../components/DateContact";
import Interventii from "../../components/Interventii";
import PacientNavigation from "../../components/partials/PacientNavigation";

import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

import anexa8 from "../../pdfs/anexa8";
import anexa6 from "../../pdfs/anexa6";

import feather from "feather-icons";

export default {
  name: "FisaPacient",
  components: {
    ScreeningChestionar,
    ScreeningAnalize,
    DateContact,
    Interventii,
    PacientNavigation
  },
  data() {
    return {
      pacient: null,
      slugify: slugify,
      selectedTab: {
        slug: /*$auth.user().roles_array[0]==='partener' ? "tratament" : */"date-contact",
        name: /*$auth.user().roles_array[0]==='partener' ? "Tratament" : */"Date de contact"
      }
    };
  },
  mounted() {
    feather.replace();
    this.getPacient(this.$route.params.id);
    if(this.$auth.user().roles_array && this.$auth.user().roles_array[0]==='partener'){
      this.$router.push({ name: "pacient-tratament"})
    }
  },

  methods: {
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);
          
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
      this.pacient = data;
          this.pacient.informatii_generale = JSON.parse(
            data.informatii_generale
          );

          if (this.pacient.informatii_generale.chestionar === undefined) {
            this.pacient.informatii_generale.chestionar = {
              comuna: null,
              medic: null,
              amc_ms: null,
              centru_50_km: null,
              colocatari: null,
              checkedValues1: null,
              data_interpretare: null,
              rezultat_examinare: null,
              recomandari: null,
              raspunsuri: {}
            };
          }
    
    },
    downloadFisa() {
      return pdfMake
        .createPdf(anexa8(this.pacient))
        .download(`Anexa 8 ${this.pacient.nume} ${this.pacient.prenume}.pdf`);
      // pdfMake.createPdf(anexa6).download(`Anexa 6 ${this.pacient.nume} ${this.pacient.prenume}.pdf`);
    },
    selectTab(tab) {
      if (tab.childs === undefined) {
        this.selectedTab = tab;
      }
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
