<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Lista spute</h5>
        <div class="d-flex align-items-center justify-content-end">
          <label class="mr-2 mb-0">Data preluare</label>
          <vc-date-picker v-model="data_preluare" />
          <button class="btn btn-primary mx-2" @click="handleFilter">Filtreaza</button>
          <button class="btn btn-info" @click="handlePrint">Tipareste tabel</button>
          <button
            class="btn btn-success ml-2"
            @click="handleBuletin"
          >Genereaza buletin trimitere spute</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Pacient</th>
                  <th>CNP</th>
                  <th>Prelevata la</th>
                  <!-- <th>Trimisa la</th> -->
                  <th>Rezultat</th>
                  <th>geneXpert</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="sputa in spute" :key="sputa.id">
                  <td class="d-flex align-items-center">
                    <input type="checkbox" :value="sputa" v-model="selectedSpute" class="mr-2" />
                    {{sputa.id}}
                  </td>
                  <td>
                    <router-link
                      :to="{name: 'pacient-analize', params: {id: sputa.pacient_id}}"
                    >{{sputa.pacient.nume}} {{sputa.pacient.prenume}}</router-link>
                  </td>
                  <td>{{sputa.pacient.cnp}}</td>
                  <td>{{sputa.prelevata_at}}</td>
                  <!-- <td></td> -->
                  <td>
                    <span class="badge badge-success" v-if="sputa.rezultat === 0">Negativ</span>
                    <span class="badge badge-danger" v-if="sputa.rezultat === 1">Pozitiv</span>
                  </td>
                  <td>
                    <span v-if="sputa.genexpert === 1">DA</span>
                    <span v-if="sputa.genexpert === 0">NU</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      spute: [],
      data_preluare: "",
      selectedSpute: []
    };
  },
  methods: {
    getSpute() {
      this.$http({
        url: `spute`,
        method: "GET"
      }).then(
        res => {
          this.spute = res.data.spute;
          this.spute.forEach(element => {
            element.buletin = JSON.parse(element.buletin);
          });
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleFilter() {
      this.loading = true;
      this.$http({
        url: `spute`,
        method: "GET"
      })
        .then(
          res => {
            this.spute = res.data.spute;

            if (this.data_preluare !== "") {
              const needed = moment(this.data_preluare);
              this.spute = this.spute.filter(function(item) {
                const dc = moment(item.prelevata_at, "YYYY-MM-DD HH:mm:ss");

                if (dc.isSame(needed, "day")) {
                  return true;
                }

                return false;
              });
            }
          },
          () => {
            this.has_error = true;
          }
        )
        .finally(() => {
          this.loading = false;
        });
    },
    handleBuletin() {
      return this.$router.push({
        name: "buletin-spute",
        query: {
          spute: this.selectedSpute
        }
      });
    },
    handlePrint() {
      return printJS({
        printable: this.spute,
        header: "LISTA SPUTE",
        headerStyle: "text-align: center",
        properties: [
          "id",
          { field: "pacient.nume", displayName: "Nume" },
          { field: "pacient.prenume", displayName: "Prenume" },
          { field: "pacient.cnp", displayName: "CNP" },
          { field: "prelevata_at", displayName: "Prelevata" },
          "rezultat",
          "genexpert"
        ],
        type: "json"
      });
    }
  },
  mounted() {
    this.getSpute();
  }
};
</script>