<template>
  <div class="container-fluid" v-if="success === false">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Adauga doza</h5>
        <router-link :to="{name: 'registru-doza-radiatie'}" class="btn btn-secondary">Inapoi</router-link>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-4">
            <label>Cauta pacient (CNP, nume, prenume, telefon)</label>
            <multiselect
              v-model="selectedPacient"
              deselect-label="Trebuie sa alegi un pacient"
              track-by="id"
              @select="handleSelect"
              :custom-label="numePrenumeCnpTelefon"
              placeholder="Alege pacientul"
              :options="pacients"
              :searchable="true"
              :allow-empty="false"
            >
              <template slot="singleLabel" slot-scope="{ option }">
                <strong>{{ option.nume }} {{ option.prenume }}</strong> - 
                CNP {{ option.cnp }}
              </template>
            </multiselect>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12 col-md-6 mb-4" v-if="rezultate.length">
            <table class="table table-small table-hover">
              <thead>
                <th>Nume</th>
                <th>CNP</th>
                <th>Telefon</th>
                <th></th>
              </thead>
              <tr v-for="r in rezultate" :key="r.id">
                <td>{{r.nume}} {{r.prenume}}</td>
                <td>{{r.cnp}}</td>
                <td>{{r.telefon}}</td>
                <td>
                  <button class="btn btn-primary" @click="handleSelect(r)">Alege</button>
                </td>
              </tr>
            </table>
          </div>
        </div>-->
        <div class="row">
          <div class="col-12 col-md-3 mb-4" v-if="selectedPacient">
            <label>Nume si prenume</label>
            <input
              type="text"
              class="form-control disabled"
              :value="`${selectedPacient.nume} ${selectedPacient.prenume}`"
              disabled
            />
          </div>
          <div class="col-12 col-md-3 mb-4" v-if="selectedPacient">
            <label>CNP</label>
            <input type="text" class="form-control disabled" :value="selectedPacient.cnp" disabled />
          </div>
          <div class="col-12 col-md-3 mb-4" v-if="selectedPacient">
            <label>Telefon</label>
            <input
              type="text"
              class="form-control disabled"
              :value="selectedPacient.telefon"
              disabled
            />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>Varsta</label>
            <input type="text" class="form-control" v-model="doza.varsta" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>Inaltime</label>
            <input type="text" class="form-control" v-model="doza.inaltime" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>Greutate</label>
            <input type="text" class="form-control" v-model="doza.greutate" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>kV</label>
            <input type="text" class="form-control" v-model="doza.kv" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>mA</label>
            <input type="text" class="form-control" v-model="doza.ma" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>Timp Exp (msec.)</label>
            <input type="text" class="form-control" v-model="doza.timp_exp" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>mAs</label>
            <input type="text" class="form-control" v-model="doza.mas" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>Distanta focar-film/detector (cm)</label>
            <input type="text" class="form-control" v-model="doza.distanta_focar" />
          </div>
          <div class="col-12 col-md-3 mb-4">
            <label>ESAK (mGy)</label>
            <input type="text" class="form-control" v-model="doza.esak" />
          </div>
          <div class="col-12 mb-4">
            <button class="btn btn-primary" @click="proceed">Adauga doza</button>
          </div>
          <div class="col-12">
            <Errors v-if="errors" :errors="errors" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fully" v-else>
    <div class="card">
      <div class="card-body">
        <h2 class="forms mb-5">Doza a fost adăugată cu succes!</h2>

        <div class="d-flex">
          <button class="btn btn-primary mr-4" @click="reload">
            <img src="../../assets/adauga-pacient.svg" /> Adaugă altă doză
          </button>

          <router-link :to="{name:'registru-doza-radiatie'}" class="btn btn-secondary">
            <img src="../../assets/lista-pacienti.svg" /> Mergi la lista registrul dozelor
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";
import cnpValidate from "../../util/cnp";

export default {
  data() {
    return {
      doza: {},
      errors: false,
      selectedPacient: false,
      pacients: [],
      cautare: null,
      success: false
    };
  },
  components: { Errors },
  computed: {
    rezultate() {
      return this.pacients
        .filter(pacient => {
          if (
            (pacient.nume &&
              pacient.nume.toLowerCase().indexOf(this.cautare) >= 0) ||
            (pacient.prenume &&
              pacient.prenume.toLowerCase().indexOf(this.cautare) >= 0) ||
            (pacient.telefon &&
              pacient.telefon.toLowerCase().indexOf(this.cautare) >= 0) ||
            (pacient.cnp && pacient.cnp.toLowerCase().indexOf(this.cautare)) >=
              0
          ) {
            return true;
          } else return false;
        })
        .slice(0, 10);
    }
  },
  created() {
    this.$http({
      url: `pacients`,
      method: "GET"
    }).then(
      res => {
        this.pacients = res.data.pacients;
      },
      () => {
        this.has_error = true;
      }
    );
  },
  methods: {
    numePrenumeCnpTelefon({ nume, prenume, cnp, telefon }) {
      if (telefon) {
        return `CNP ${cnp} - ${nume} ${prenume} - Telefon ${telefon}`;
      }
      return `CNP ${cnp} - ${nume} ${prenume}`;
    },
    handleSelect(pacient) {
      this.doza.pacient_id = pacient.id;
      this.doza.nume_prenume = pacient.nume + ' ' +pacient.prenume
      this.selectedPacient = pacient;
      this.cautare = null;
      const cnp = cnpValidate(pacient.cnp);
      this.doza.varsta = cnp.age;
    },
    reload() {
      this.loading = false;
      this.success = false;
      window.location.reload();
    },
    proceed() {
      this.errors = false;
      this.$http({
        url: `registru-doza-radiatie`,
        method: "POST",
        data: {
          doza: this.doza
        }
      }).then(
        res => {
          this.success = true
          //this.$router.push({ name: "registru-doza-radiatie" });
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Datele au fost salvate cu succes!"
          });
        },
        err => {
          this.$notify({
            group: "foo",
            title: "Error",
            type: "error",
            position: "bottom right",
            text: "Datele nu au putut fi salvate!"
          });
          this.loading = false;
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
.fully {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
