<template>
  <tr>
    <td>{{product.id}}</td>
    <td>{{product.denumire}}</td>
    <td>{{product.categorie}}</td>
    <td>{{product.um}}</td>
    <td>
      <span class="badge badge-danger" v-if="product.stoc === 0">{{product.stoc}}</span>
      <span v-else>{{product.stoc}}</span>
    </td>
    <td>
      <div>{{inCaravane}}</div>
    </td>
    <td>{{product.pret}}</td>
    <td>
      <Errors :errors="errors" v-if="errors" />
    </td>
  </tr>
</template>

<script>
import Errors from "../Errors";

export default {
  name: "ProductRow",
  props: ["product"],
  components: { Errors },
  data() {
    return {
      errors: false,
      editable: false
    };
  },
  computed: {
    inCaravane() {
      return this.product.in_caravane.reduce(
        (acc, item) => item.quantity + acc,
        0
      );
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
tr.alert-stoc {
  td {
    background-color: rgba(255, 170, 170, 0.4);
  }
}
</style>