<template>
  <div class="page-wrapper" v-if="$auth.check()">
    <!-- Page Header Start-->
    <div class="page-main-header">
      <notifications group="foo" />
      <div class="main-header-right row">
        <div class="main-header-left d-lg-none">
          <div class="logo-wrapper">
            <a href="index.html">LOGO</a>
          </div>
        </div>
        <div class="mobile-sidebar d-block">
          <div class="media-body text-right switch-sm">
            <label class="switch">
              <a href="#" @click="toggleSidebar">
                <i data-feather="align-left"></i>
              </a>
            </label>
          </div>
        </div>
        <div class="nav-right col p-0">
          <ul class="nav-menus">
            <li>
              <search-form />
            </li>
            <li>
              <a class="text-white" href="#!" onclick="javascript:toggleFullScreen()">
                <i data-feather="maximize"></i>
              </a>
            </li>
            <li>
              <a class="text-white" href="#!" @click="toggleLight">
                <div v-show="light">
                  <i data-feather="moon"></i>
                </div>
                <div v-show="!light">
                  <i data-feather="sun"></i>
                </div>
              </a>
            </li>
            <notifications-panel />
            <li class="onhover-dropdown">
              <div class="media align-items-center">
                <img
                  class="align-self-center pull-right img-20 rounded-circle mr-2"
                  height="24px"
                  src="./assets/avatar.png"
                />
                {{ $auth.user().name }}
              </div>
              <ul class="profile-dropdown onhover-show-div p-20">
                <li>
                  <a href="#" @click="handleLogout">
                    <i data-feather="log-out"></i> Deconectare
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="d-lg-none mobile-toggle pull-right">
            <i data-feather="more-horizontal"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <!-- Page Sidebar Start-->
      <div class="page-sidebar">
        <div class="sidebar custom-scrollbar">
          <div class="sidebar-user text-center">
            <h6 class="mt-3 f-14">{{$auth.user().name}}</h6>
            <p v-if="$auth.user().role === 2">Medic</p>
          </div>
          <sidebar-menu />
        </div>
      </div>
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <page-header />
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row main-screen">
            <router-view />
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
  <div class="page-wrapper" v-else>
    <router-view />
  </div>
</template>

<script>
import PageHeader from "./components/partials/PageHeader.vue";
import SidebarMenu from "./components/partials/SidebarMenu.vue";
import NotificationsPanel from "./components/partials/Notifications.vue";
import SearchForm from "./components/partials/SearchForm.vue";
import feather from "feather-icons";
import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  components: { PageHeader, SidebarMenu, NotificationsPanel, SearchForm },
  computed: {
    ...mapGetters("settings", {
      light: "color",
      sidebar: "sidebar"
    })
  },
  methods: {
    handleLogout() {
      localStorage.clear();
      this.$router.push({ name: "login" });
    },
    toggleSidebar() {
      if (this.sidebar) {
        this.$store.commit("settings/setSidebar", false);
        jQuery(".page-main-header").removeClass("open");
        jQuery(".page-sidebar").removeClass("open");
      } else {
        this.$store.commit("settings/setSidebar", true);
        jQuery(".page-main-header").addClass("open");
        jQuery(".page-sidebar").addClass("open");
      }
    },
    toggleLight() {
      if (this.light) {
        this.$store.commit("settings/setColor", false);
        this.light = false;
        $("body").removeClass("light-only");
        $("body").addClass("dark-only");
      } else {
        this.light = true;
        this.$store.commit("settings/setColor", true);
        $("body").removeClass("dark-only");
        $("body").addClass("light-only");
      }
    }
  },
  mounted() {
    window.EventBus.$on("update-title", title => {
      this.title = title;
    });

    if (this.light) {
      $("body").removeClass("dark-only");
      $("body").addClass("light-only");
    } else {
      $("body").removeClass("light-only");
      $("body").addClass("dark-only");
    }

    if (this.sidebar) {
      jQuery(".page-main-header").addClass("open");
      jQuery(".page-sidebar").addClass("open");
    } else {
      jQuery(".page-main-header").removeClass("open");
      jQuery(".page-sidebar").removeClass("open");
    }

    feather.replace();
  }
};
</script>

<style lang="scss" scoped>
.page-wrapper {
  height: 100%;
  overflow: auto;
}

#main {
  background-color: #f7fafd;

  .main-container {
    height: 100%;
  }

  &.logged-in {
    display: grid;
    grid-template-columns: 225px auto;
    grid-template-rows: 104px auto;

    .top-bar {
      background-color: #05a8bd;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .page-title {
        font-family: "Archivo";
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.05;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }

      .top-menu {
        font-family: "Archivo";
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    .logo-container {
      background-color: #05a8bd;
    }
    .navigation {
      background-color: #193f43;
    }
    .main-container {
      padding: 2rem;
    }

    .logout {
      cursor: pointer;
    }
  }

  .main-screen {
    overflow: scroll;
  }
}
</style>
